{% extends '::base.html.twig' %}
{% block title %}Patron Feedback{% endblock %}
{% block body -%}
    <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="{{ path('feedback') }}"><span class="glyphicon glyphicon-comment"></span> Feedback</a></li>
        <li role="presentation"><a href="{{ path('feedbackarea') }}"><span class="glyphicon glyphicon-th"></span> Areas</a></li>
        <li role="presentation"><a href="{{ path('feedbackcategory') }}"><span class="glyphicon glyphicon-tasks"></span> Categories</a></li>
    </ul>
    <h1 class="page-header">Patron Feedback</h1>
    <p class="badge">{{ pagination.getPaginationData.totalCount }} Total Requests</p>
    <p>Page {{pagination.getPaginationData.current}} of {{pagination.getPaginationData.pageCount}}</p>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-9">
            <table class="table table-responsive table-striped tablesorter" id="jquerySortable_1">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Submitted</th>
                        <th>Patron</th>
                        <th>Categories</th>
                        <th>Status</th>
                        <th>Excerpt</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for entity in pagination %}
                    <tr>
                        <td>{{ entity.category }}</td>
                        <td>{% if entity.created %}{{ entity.created|date('n/j/y g:i A') }}{% endif %}</td>
                        <td>{{ entity.patronFirstName }} {{ entity.patronLastName }}</td>
                        <td>
                            {% if entity.areas is not empty %}
                                <ul>
                                {% for area in entity.areas %}
                                    <li>{{ area.name }}</li>
                                {% endfor %}
                                </ul>
                            {% else %}
                                none
                            {% endif %}
                        </td>
                        <td>
                            <p>
                                {% if entity.replyDate is not null %}
                                <span class="glyphicon glyphicon-ok-sign text-success"></span> 
                                {% else %}
                                <span class="glyphicon glyphicon-remove-sign text-danger"></span> 
                                {% endif %}
                                Replied to Patron
                            </p>
                            <p>
                                {% if entity.lastForwardDate is not null %}
                                <span class="glyphicon glyphicon-ok-sign text-success"></span> 
                                {% else %}
                                <span class="glyphicon glyphicon-remove-sign text-danger"></span> 
                                {% endif %}
                                Forwarded
                            </p>       
                        </td>
                        <td>{{ entity.body|slice(0, 50) }}...</td>
                        <td>
                            {% if is_granted('ROLE_FEEDBACK_EDIT', entity) %}
                                <a class="badge" href="{{ path('feedback_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
                            {% elseif is_granted('ROLE_FEEDBACK_VIEW', entity) %}
                                <a class="badge" href="{{ path('feedback_show', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-eye-open"></span> Show</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <p>Page {{pagination.getPaginationData.current}} of {{pagination.getPaginationData.pageCount}}</p>
    {{ include('AppBundle:Pagination:paginator.html.twig') }}
{% endblock %}
{% block documentReady %} 
    //uses jQuery Tablesorter to sort columns for paginated results (http://tablesorter.com/)
    $('#jquerySortable_1').tablesorter({
        headers: {
            3: {
                sorter: false
            },
            4: {
                sorter: false
            },
            5: {
                sorter: false
            }
        }
    });
    
    //refresh the page with the new number of records per page
    $('#paginationMaxResults').on('change', function(){
        var item = $(this).find(":selected").val();
        var url = '{{path('feedback', {'maxItems': '_item'})}}';
        
        window.location.href = url.replace('_item',item );
    });
{% endblock %}
