{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Feedback</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Receiveddate</th>
                <td>{{ entity.created|date('l n/j/y g:i A') }}</td>
            </tr>
            <tr>
                <th>Body</th>
                <td>{{ entity.body }}</td>
            </tr>
            <tr>
                <th>Patronemail</th>
                <td>{{ entity.patronEmail }}</td>
            </tr>
            <tr>
                <th>Patronfirstname</th>
                <td>{{ entity.patronFirstName }}</td>
            </tr>
            <tr>
                <th>Patronlastname</th>
                <td>{{ entity.patronLastName }}</td>
            </tr>
            <tr>
                <th>Patronphone</th>
                <td>{{ entity.patronPhone }}</td>
            </tr>
            <tr>
                <th>Patronstatus</th>
                <td>{{ entity.patronGroup }}</td>
            </tr>
            <tr>
                <th>Response</th>
                <td>{{ entity.response }}</td>
            </tr>
            <tr>
                <th>Replydate</th>
                <td>{{ entity.replyDate|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('feedback') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('feedback_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
