<div class="regularhours_day">
    <h3>Sunday</h3> 
    {{ form(day_0) }}
</div>
<div class="regularhours_day">
    <h3>Monday</h3> 
    {{ form(day_1) }}
</div>
<div class="regularhours_day">
    <h3>Tuesday</h3>
    {{ form(day_2) }}
</div>
<div class="regularhours_day">
    <h3>Wednesday</h3>
    {{ form(day_3) }}
</div>
<div class="regularhours_day">
    <h3>Thursday</h3>
    {{ form(day_4) }}
</div>
<div class="regularhours_day">
    <h3>Friday</h3>
    {{ form(day_5) }}
</div>
<div class="regularhours_day">
    <h3>Saturday</h3>
    {{ form(day_6) }}
</div>