<div class="specialhours_day"  id="specialhours_day_0">
    <h3>Sunday <small id="special_firstday">{{ date_0 }}</small></h3> 
    {{ form(specialday_0) }}
    {% if specialdayDelete_0 is defined %}
        {{ form(specialdayDelete_0) }}
    {% endif %}
</div>
<div class="specialhours_day" id="specialhours_day_1">
    <h3>Monday <small>{{ date_1 }}</small></h3> 
    {{ form(specialday_1) }}
    {% if specialdayDelete_1 is defined %}
        {{ form(specialdayDelete_1) }}
    {% endif %}
</div>
<div class="specialhours_day" id="specialhours_day_2">
    <h3>Tuesday <small>{{ date_2 }}</small></h3>
    {{ form(specialday_2) }}
    {% if specialdayDelete_2 is defined %}
        {{ form(specialdayDelete_2) }}
    {% endif %}
</div>
<div class="specialhours_day" id="specialhours_day_3">
    <h3>Wednesday <small>{{ date_3 }}</small></h3>
    {{ form(specialday_3) }}
    {% if specialdayDelete_3 is defined %}
        {{ form(specialdayDelete_3) }}
    {% endif %}
</div>
<div class="specialhours_day" id="specialhours_day_4">
    <h3>Thursday <small>{{ date_4 }}</small></h3>
    {{ form(specialday_4) }}
    {% if specialdayDelete_4 is defined %}
        {{ form(specialdayDelete_4) }}
    {% endif %}
</div>
<div class="specialhours_day" id="specialhours_day_5">
    <h3>Friday <small>{{ date_5 }}</small></h3>
    {{ form(specialday_5) }}
    {% if specialdayDelete_5 is defined %}
        {{ form(specialdayDelete_5) }}
    {% endif %}
</div>
<div class="specialhours_day" id="specialhours_day_6">
    <h3>Saturday <small id="special_lastday">{{ date_6 }}</small></h3>
    {{ form(specialday_6) }}
    {% if specialdayDelete_6 is defined %}
        {{ form(specialdayDelete_6) }}
    {% endif %}
</div>