{% extends '::base.html.twig' %}

{% block body -%}
    <h1 class="page-header">Edit {{ entity.name }}</h1>
    <div class="row">
      <div class="col-xs-12">
        <p><a class="btn btn-sm btn-primary" href="{{ path('hoursarea') }}"><span class="glyphicon glyphicon-arrow-left"></span> Back to Areas</a></p>
      </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-5 col-md-3 col-lg-3">
            <h2>General Information</h2>
            {{ form(edit_form) }}  
        </div>
    </div> 
    <div class="row">
        <div class="col-xs-12">
            <h2>Regular Hours</h2>
            <div class="row">
                <div class="col-xs-4 col-sm-3">
                    {{ form(semester_form) }} 
                </div>
            </div> 
            <section id="regular_hours_container">
                <div class="regularhours_day">
                    <h3>Sunday</h3> 
                    {{ form(day_0) }}
                </div>
                <div class="regularhours_day">
                    <h3>Monday</h3> 
                    {{ form(day_1) }}
                </div>
                <div class="regularhours_day">
                    <h3>Tuesday</h3>
                    {{ form(day_2) }}
                </div>
                <div class="regularhours_day">
                    <h3>Wednesday</h3>
                    {{ form(day_3) }}
                </div>
                <div class="regularhours_day">
                    <h3>Thursday</h3>
                    {{ form(day_4) }}
                </div>
                <div class="regularhours_day">
                    <h3>Friday</h3>
                    {{ form(day_5) }}
                </div>
                <div class="regularhours_day">
                    <h3>Saturday</h3>
                    {{ form(day_6) }}
                </div>
            </section>
        </div>
    </div>
                
    <div class="row">
        <div class="col-xs-12">
            <h2>Special Hours</h2>
            <div class="row">
                <div class="col-xs-12">
                    <p><a class="btn btn-sm btn-primary" href="{{ path('hoursevent_new') }}"><span class="glyphicon glyphicon-plus"></span> New Special Event</a></p>
                </div>
            </div>
            <section id="special_hours_container">
                <div class="specialhours_day">
                    <h3>Sunday</h3> 
                    {{ form(specialday_0) }}
                    {% if specialdayDelete_0 is defined %}
                        {{ form(specialdayDelete_0) }}
                    {% endif %}
                </div>
                <div class="specialhours_day">
                    <h3>Monday</h3> 
                    {{ form(specialday_1) }}
                    {% if specialdayDelete_1 is defined %}
                        {{ form(specialdayDelete_1) }}
                    {% endif %}
                </div>
                <div class="specialhours_day">
                    <h3>Tuesday</h3>
                    {{ form(specialday_2) }}
                    {% if specialdayDelete_2 is defined %}
                        {{ form(specialdayDelete_2) }}
                    {% endif %}
                </div>
                <div class="specialhours_day">
                    <h3>Wednesday</h3>
                    {{ form(specialday_3) }}
                    {% if specialdayDelete_3 is defined %}
                        {{ form(specialdayDelete_3) }}
                    {% endif %}
                </div>
                <div class="specialhours_day">
                    <h3>Thursday</h3>
                    {{ form(specialday_4) }}
                    {% if specialdayDelete_4 is defined %}
                        {{ form(specialdayDelete_4) }}
                    {% endif %}
                </div>
                <div class="specialhours_day">
                    <h3>Friday</h3>
                    {{ form(specialday_5) }}
                    {% if specialdayDelete_5 is defined %}
                        {{ form(specialdayDelete_5) }}
                    {% endif %}
                </div>
                <div class="specialhours_day">
                    <h3>Saturday</h3>
                    {{ form(specialday_6) }}
                    {% if specialdayDelete_6 is defined %}
                        {{ form(specialdayDelete_6) }}
                    {% endif %}
                </div>
            </section>
        </div>
    </div>
        
    <div class="row">
        <div class="col-xs-12 col-sm-5 col-md-3 col-lg-3">
            {{ form(delete_form) }}
        </div>
    </div> 
{% endblock %}
{% block documentReady %}
    makeTimepicker('.regularHours_form', '#appbundle_hoursregular_openTime, #appbundle_hoursregular_closeTime'); //apply timepicker to new hours elements
    
    /* Handle submission of regular hours form */
    $('.regularHours_form').on('submit', function(event){
        var targetForm = $(this);
    
        event.preventDefault();
        
        ajaxObject = {
            url: $(this).attr("action"),
            type: 'POST',
            dataType: 'json',
            contentType: "application/json; charset=UTF-8",
            data: JSON.stringify({"openTime":$("#appbundle_hoursregular_openTime", this).val(), "closeTime":$("#appbundle_hoursregular_closeTime", this).val(), "status":$("input[name^='appbundle_hoursregular']:checked", this).val()})
        };
        
        $.ajax(ajaxObject)
            .success(function(data,status,xhr) {
                    $('span.label-success, span.label-danger').remove();
                    $('#appbundle_hoursregular_submit', targetForm).after('<span class="label label-success"><span class="glyphicon glyphicon-ok"></span></span>');
                    console.log( status );
            })
            .fail(function(data,status,xhr) {
                    $('span.label-success, span.label-danger').remove();
                    $('#appbundle_hoursregular_submit', targetForm).after('<span class="label label-danger"><span class="glyphicon glyphicon-remove"></span></span>');
                    console.log( status );
            })
            .always(function(data,status,xhr) {
                    console.log( status );
            });
    }); 
    
    /* Handle changing of semester dropdown */
    $('#form_semesters').on('change', function(){
        ajaxObject = {
            url: $(this.form).attr("action"),
            type: 'GET',
            data: {semesterId: $(this).val(), areaId: {{entity.id}} }
        };
        
        $.ajax(ajaxObject)
            .success(function(data,status,xhr) {
                    console.log( status );
                    $('#regular_hours_container').html(data); //show hours for chosen semester
                    
                    makeTimepicker('.regularHours_form', '#appbundle_hoursregular_openTime, #appbundle_hoursregular_closeTime'); //apply timepicker to new hours elements
                    
                    //why does this need to be run again? 
                    //http://stackoverflow.com/questions/15357787/submitting-from-an-ajax-loaded-form
                    $('.regularHours_form').on('submit', function(event){
                        var targetForm = $(this);
                        
                        ajaxObject = {
                            url: $(this).attr("action"),
                            type: 'POST',
                            dataType: 'json',
                            contentType: "application/json; charset=UTF-8",
                            data: JSON.stringify({"openTime":$("#appbundle_hoursregular_openTime", this).val(), "closeTime":$("#appbundle_hoursregular_closeTime", this).val(), "status":$("input[name^='appbundle_hoursregular']:checked", this).val()})
                        };

                        $.ajax(ajaxObject)
                            .success(function(data,status,xhr) {
                                    $('span.label-success, span.label-danger').remove();
                                    $('#appbundle_hoursregular_submit', targetForm).after('<span class="label label-success"><span class="glyphicon glyphicon-ok"></span></span>');
                                    console.log( status );
                            })
                            .fail(function(data,status,xhr) {
                                    $('span.label-success, span.label-danger').remove();
                                    $('#appbundle_hoursregular_submit', targetForm).after('<span class="label label-danger"><span class="glyphicon glyphicon-remove"></span></span>');
                                    console.log( status );
                            })
                            .always(function(data,status,xhr) {
                                    console.log( status );
                            });

                            return false; //prevent form submission
                    });
            })
            .fail(function(data,status,xhr) {
                    console.log( status );
            })
            .always(function(data,status,xhr) {
                    console.log( status );
            });
    });
    
    /* JQuery Timepicker */
    function makeTimepicker(form, targetElement){
        $(form).on('click', function(){
            $(targetElement, this).timepicker({ 'timeFormat': 'H:i' });
        });
    }
    {{ parent() }}
{% endblock %}