{% extends '::base.html.twig' %}

{% block body -%}
    <h1 class="page-header">HoursArea edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
            <li>
                <a href="{{ path('hoursarea') }}">
                    Back to the list
                </a>
            </li>
            <li>{{ form(delete_form) }}</li>
        </ul>
       
    <div class="row">
        <div class="col-xs-12">
            <h2>Regular Hours</h2>
            {{ form(semester_form) }}
            <div id="regular_hours_container">
                Sunday: {{ form(day_0) }}
                Monday: {{ form(day_1) }}
                Tuesday: {{ form(day_2) }}
                Wednesday: {{ form(day_3) }}
                Thursday: {{ form(day_4) }}
                Friday: {{ form(day_5) }}
                Saturday: {{ form(day_6) }}
            </div>
        </div>
    </div>
                
    <div class="row">
        <div class="col-xs-12">
            <h2>Special Hours</h2>
            <div class="row">
                <div class="row-xs-"
            </div>
        </div>
    </div>
{% endblock %}
{% block documentReady %}
    /* Handle submission of regular hours form */
    $('.regularHours_form').submit(function(event){
        event.preventDefault();
        
        ajaxObject = {
            url: $(this).attr("action"),
            type: 'POST',
            dataType: 'json',
            contentType: "application/json; charset=UTF-8",
            data: JSON.stringify({"openTime":$("#appbundle_hoursregular_openTime", this).val(), "closeTime":$("#appbundle_hoursregular_closeTime", this).val(), "status":$("input[name^='appbundle_hoursregular']:checked", this).val()})
        };
        
        $.ajax(ajaxObject)
            .success(function(data,status,xhr) {
                    console.log( status );
            })
            .fail(function(data,status,xhr) {
                    console.log( status );
            })
            .always(function(data,status,xhr) {
                    console.log( status );
            });
    }); 
    
    /* Handle changing of semester dropdown */
    $('#form_semesters').on('change', function(){
        ajaxObject = {
            url: $(this.form).attr("action"),
            type: 'GET',
            data: {semesterId: $(this).val(), areaId: {{entity.id}} }
        };
        
        $.ajax(ajaxObject)
            .success(function(data,status,xhr) {
                    console.log( data );
                    $('#regular_hours_container').replaceWith(data);
            })
            .fail(function(data,status,xhr) {
                    console.log( status );
            })
            .always(function(data,status,xhr) {
                    console.log( status );
            });
    });
    {{ parent() }}
{% endblock %}