{% extends '::base.html.twig' %}
{% block title %}Library Hours: Areas{% endblock %}
{% block body -%}
    <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="{{ path('hoursarea') }}"><span class="glyphicon glyphicon-th-list"></span> Areas</a></li>
        <li role="presentation"><a href="{{ path('hourssemester') }}"><span class="glyphicon glyphicon-th-large"></span> Semesters</a></li>
        <li role="presentation"><a href="{{ path('hoursevent') }}"><span class="glyphicon glyphicon-tags"></span> Special Events</a></li>
    </ul>
    <h1 class="page-header">Library Hours: Areas <span><a class="btn btn-sm btn-primary" href="{{ path('hoursarea_new') }}"><span class="glyphicon glyphicon-plus"></span> New Area</a></span></h1>
    <blockquote>
        <p>To edit the general information, regular hours, or special hours for an area, click "Edit" next to the desired area. To create a new area, select the "New Area" button above.</p>
        <p>Areas are displayed on the website in the order in which they appear here.</p>
        <p><strong>To change the display order, drag the area boxes into their appropriate positions.</strong> The positions will be updated automatically after each drop.</p>
    </blockquote>
    <div class="row">
      <div class="col-xs-12 col-md-5">
        <ul class="list-group" id="displayOrderList">
          {% for entity in entities %}
                <li class="list-group-item" id="area_{{ entity.id }}">
                  <span class="ui-icon ui-icon-arrowthick-2-n-s"></span> {{ entity.name }}
                  {% if is_granted('ROLE_HOURS_EDIT') %}
                      <a class="badge" href="{{ path('hoursarea_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-pencil"></span> Edit</span></a>
                  {% elseif is_granted('ROLE_HOURS_VIEW') %}
                      <a class="badge" href="{{ path('hoursarea_show', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-eye-open"></span> Edit</span></a>
                  {% endif %}
                </li>
          {% endfor %}
        </ul>
      </div>
    </div>
{% endblock %}

{% block documentReady %}
  
    //Make the list sortable using JQuery UI and re-order the list when re-ordered
    $( "#displayOrderList" ).sortable({
      update: function(event, ui){
        var data = $(this).sortable('serialize');
        
        var ajaxObject = {
          data: data,
          type: 'POST',
          dataType: 'text', //expect plain text from the server
          url: '{{ path('displayorder_update') }}'
        };
        
        $.ajax(ajaxObject)
          .success(function(data,status,xhr){console.log(data);})
          .fail(function(data,status,xhr){console.log(status);})
          .always(function(data,status,xhr){console.log(status);});
      }
    });
    $( "#displayOrderList" ).disableSelection();
    
    {{ parent() }}
{% endblock %}

