{% extends '::base.html.twig' %}

{% block body -%}
    <h1 class='page-header'>{{entity.name}}</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <!--<tr>
                <th>Displayorder</th>
                <td>{# entity.displayOrder #}</td>
            </tr>-->
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('hoursarea') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('hoursarea_edit', { 'id': entity.id }) }}">
            Edit info and hours
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
