{% extends '::base.html.twig' %}
{% block title %}Library Staff{% endblock %}
{% block body -%}
    
    {# Page Heading #}
    {% set headingvars = {'headingcontent' : 'Libray Staff', 'newbutton' : true, 'newpath' : path('staff_new'), 'newpathlabel' : 'New Staff' } %}
    {% include 'snippets/pageHeading.html.twig' with headingvars %}
    
    <p class="badge">{{ pagination.getPaginationData.totalCount }} Total Requests</p>
    <p>Page {{pagination.getPaginationData.current}} of {{pagination.getPaginationData.pageCount}}</p>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-9">
            <table class="table table-striped table-responsive tablesorter" id="jquerySortable_1">
              <thead>
                  <tr>
                      <th><span class="sr-only">Picture</span></th>
                      <th>Name</th>
                      <th>Staff ID</th>
                      <th>Status</th>
                      <th>Job Title</th>
                      <th>Guides URL</th>
                      <th>Office</th>
                      <th>Phone</th>
                      <th>Email</th>
                      <th>Actions</th>
                  </tr>
              </thead>
              <tbody>
              {% for entity in pagination %}
                  <tr>
                      <td>
                          {% if entity.photo %}
                          <img src="{{ asset('uploads/profile/' ~ entity.photo) | imagine_filter('thumb') }}" alt="A photo of {{ entity.firstName}} {{ entity.lastName }}" title="A photo of {{ entity.firstName}} {{ entity.lastName }}"/>
                          {% endif %}
                      </td>    
                      <td>
                        {{ entity.lastName }}, {{ entity.firstName }}
                      </td>
                      <td>{{ entity.staffId }}</td>
                      <td>
                        {% for status in entity.employmentStatus %}
                          lobbage
                        {% endfor %}
                      </td>
                      <td>{{ entity.jobTitle }}</td>
                      <td>{{ entity.guidesUrl }}</td>
                      <td>{{ entity.office }}</td>
                      <td>{{ entity.phone }}</td>
                      <td>{{ entity.email }}</td>
                      <td>
                        {% if is_granted('ROLE_STAFF_EDIT', entity) %}
                            <a class="badge" href="{{ path('staff_edit', { 'id': entity.id }) }}" aria-label="edit"><span class="glyphicon glyphicon-pencil"></span></a>
                            <a class="badge" href="{{ path('staff_print', { 'id': entity.id }) }}" target="_blank" aria-label="print"><span class="glyphicon glyphicon-print"></span></a>
                        {% elseif is_granted('ROLE_STAFF_VIEW', entity) %}
                            <a class="badge" href="{{ path('staff_show', { 'id': entity.id }) }}" aria-label="show"><span class="glyphicon glyphicon-eye-open"></span></a>
                            <a class="badge" href="{{ path('staff_print', { 'id': entity.id }) }}" target="_blank" aria-label="print"><span class="glyphicon glyphicon-print"></span></a>
                        {% endif %}
                      </td>
                  </tr>
              {% endfor %}
              </tbody>
            </table>
        </div>
    </div>
    <p>Page {{pagination.getPaginationData.current}} of {{pagination.getPaginationData.pageCount}}</p>
    {{ include('AppBundle:Pagination:paginator.html.twig') }}
{% endblock %}
{% block documentReady %} 
    //uses jQuery Tablesorter to sort columns for paginated results (http://tablesorter.com/)
    $('#jquerySortable_1').tablesorter({
        headers: {
            0: {
                sorter: false
            },
            9: {
                sorter: false
            },
        }
    });
    
    //refresh the page with the new number of records per page
    $('#paginationMaxResults').on('change', function(){
        var item = $(this).find(":selected").val();
        var url = '{{path('staff', {'maxItems': '_item'})}}';
        
        window.location.href = url.replace('_item',item );
    });
{% endblock %}
    
    
