{% extends '::base.html.twig' %}

{% block body -%}
    <h1>MonthlyStatsArchives creation</h1>
    {{ form_start(form) }}
        <div class="row">
            <div class="col-xs-12">
                <h2>Requested Book Titles</h2>
                PLACEHOLDER!
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h2>Requested Collection Titles</h2>
                <ul class="requested_collection" 
                     data-prototype-boxquantity="
                        {% filter escape %}
                            {{ include('AppBundle:MonthlyStatsArchives:snippets/boxquantity-prototype.html.twig', { 'form': form.requestedCollections.vars.prototype.children.boxQuantity.vars.prototype, 'collectionType': 'requested' }) }}
                        {% endfilter %}
                        "
                     data-prototype-collections="
                        {% filter escape %}
                            {{ include('AppBundle:MonthlyStatsArchives:snippets/collection-prototype.html.twig', { 'form': form.requestedCollections.vars.prototype, 'collectionType': 'requested' }) }}
                        {% endfilter %}
                     "
                     >
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h2>Requested File Titles</h2>
                PLACEHOLDER!
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6">
                <h2>Research Minutes</h2>
                {{ form_row(form.researchMinutes5) }}
                {{ form_row(form.researchMinutes10) }}
                {{ form_row(form.researchMinutes15) }}
                {{ form_row(form.researchMinutes20) }}
                {{ form_row(form.researchMinutes30) }}
                {{ form_row(form.researchMinutes45) }}
                {{ form_row(form.researchMinutes60) }}
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <h2>Instructional Minutes</h2>
                {{ form_row(form.instructionalMinutes5) }}
                {{ form_row(form.instructionalMinutes10) }}
                {{ form_row(form.instructionalMinutes15) }}
                {{ form_row(form.instructionalMinutes20) }}
                {{ form_row(form.instructionalMinutes30) }}
                {{ form_row(form.instructionalMinutes45) }}
                {{ form_row(form.instructionalMinutes60) }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4">
                <h2>Researchers</h2>
                {{ form_row(form.researchersFaculty) }}
                {{ form_row(form.researchersStaff) }}
                {{ form_row(form.researchersUndergrad) }}
                {{ form_row(form.researchersGrad) }}
                {{ form_row(form.researchersCommunity) }}
                {{ form_row(form.researchersOther) }}
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8">
                <h2>Email/Phone Reference</h2>
                {{ form_row(form.directionalEmailRef) }}
                {{ form_row(form.directionalPhoneRef) }}
                {{ form_row(form.researchRequestsCollectionEmailRef) }}
                {{ form_row(form.researchRequestsCollectionPhoneRef) }}
                {{ form_row(form.researchRequestsEmailRef) }}
                {{ form_row(form.donationsEmailRef) }}
                {{ form_row(form.loansEmailRef) }}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12">
                <h2>Technical Services</h2>
                {{ form_row(form.holdingsAddedBooks) }}
                {{ form_row(form.holdingsAddedFacultyPublications) }}
                {{ form_row(form.accessionsLinearFeet) }}
                {{ form_row(form.accessionsTotalCollections) }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h2>Digitized Books</h2>
                PLACEHOLDER!
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h2>Digitized Collections</h2>
                <ul class="digitization_collection" 
                     data-prototype-boxquantity="
                        {% filter escape %}
                            {{ include('AppBundle:MonthlyStatsArchives:snippets/boxquantity-prototype.html.twig', { 'form': form.digitizationCollections.vars.prototype.children.boxQuantity.vars.prototype, 'collectionType': 'digitization' }) }}
                        {% endfilter %}
                        "
                     data-prototype-collections="
                        {% filter escape %}
                            {{ include('AppBundle:MonthlyStatsArchives:snippets/collection-prototype.html.twig', { 'form': form.digitizationCollections.vars.prototype, 'collectionType': 'digitization' }) }}
                        {% endfilter %}
                     "
                     >
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h2>Digitized Files</h2>
                PLACEHOLDER!
            </div>
        </div>

        {{ form_row(form._token) }}
        {{ form_row(form.submit) }}
    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}
{% block documentReady %}
    // JavaScript located in AppBundle/Resources/public/js/monthlystatsarchives.js
{% endblock %}
