{% extends '::base.html.twig' %}

{% block body -%}
    <h1>MonthlyStatsArchives creation</h1>
    {{ form_start(form) }}
        <div class="row">
            <div class="col-xs-12">
                {#
                <ul class="requested_collection" 
                     data-prototype-boxquantity="{{ form_widget(form.requestedCollections.vars.prototype.children.boxQuantity.vars.prototype)|e('html_attr') }}"
                     data-prototype-collections="{{ form_widget(form.requestedCollections.vars.prototype)|e('html_attr') }}"
                     >
                </ul>
                #}
                <ul class="requested_collection" 
                     data-prototype-boxquantity="
                        {% filter escape %}
                            {{ include('AppBundle:MonthlyStatsArchives:snippets/boxquantity-prototype.html.twig', { 'form': form.requestedCollections.vars.prototype.children.boxQuantity.vars.prototype }) }}
                        {% endfilter %}
                        "
                     data-prototype-collections="
                        {% filter escape %}
                            {{ include('AppBundle:MonthlyStatsArchives:snippets/collection-prototype.html.twig', { 'form': form.requestedCollections.vars.prototype }) }}
                        {% endfilter %}
                     "
                     >
                </ul>
            </div>
        </div>
    {{ form_end(form) }}
    
    {#
        {{ form_row(form.}}
        {{ form_row(form._token) }}
        {{ form_row(form.submit) }}
    {{ form_end(form, {'render_rest': false}) }}
    #}
{% endblock %}
{% block documentReady %}
    // Archives Requested Collection
    var $requestedCollectionHolder;
    var $addRequestedCollectionLink = $('<a href="#" class="add_collection_link">+ Add Collection</a>');
    var $newRequestedCollectionLi = $('<li></li>').append($addRequestedCollectionLink);
    
    // Archives Requested Collection Boxes
    var $newBoxQuantityLink = $('<a href="#" class="add_boxquantity_link">+ Box</a>');
    var $newBoxQuantityLi = $('<li></li>').append($newBoxQuantityLink);

    // Get the ul that holds the collection of Collections
    $requestedCollectionHolder = $('ul.requested_collection');
    
    // add the "add a tag" anchor and li to the tags ul
    $requestedCollectionHolder.append($newRequestedCollectionLi);

    // count the current form inputs we have (e.g. 2), use that as the new
    // index when inserting a new item (e.g. 2)
    $requestedCollectionHolder.data('index', $requestedCollectionHolder.find(':input').length);

    //Add an initial collection form.
    addCollectionForm($requestedCollectionHolder, $newRequestedCollectionLi, $newBoxQuantityLi);

    //Add an additional archives collection form each time a user clicks the $addRequestedCollectionLink
    $addRequestedCollectionLink.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // add a new collection form
        addCollectionForm($requestedCollectionHolder, $newRequestedCollectionLi, $newBoxQuantityLi);
    });
    
    //Add an additional box collection form each time a user clicks the newBoxQuantity anchor
    $newBoxQuantityLink.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();
        
        // Get the ul that holds the collection of boxes
        $requestedBoxCollectionHolder = $('ul.requested_collection_boxquantity');
        $requestedBoxCollectionHolder.data('index', $requestedBoxCollectionHolder.find('li.requestedcollectionbox-item-container').length);

        // add a new collection form
        addBoxForm($requestedBoxCollectionHolder, $newBoxQuantityLi, $requestedCollectionHolder);
    });
    
    /**
     * Uses Symfony's prototype code to generate a new list item for a form collection
     */
    function addCollectionForm($collectionHolder, $newLinkLi, $newBoxLinkLi, bootstrapListStyle) {
        // Get the data-prototype-collections and data-prototype-boxquantity
        var collectionsPrototype = $collectionHolder.data('prototype-collections');
        var boxquantityPrototype = $collectionHolder.data('prototype-boxquantity');
        
        // get the new index
        var index = $collectionHolder.data('index');

        // Replace '__name__' in the prototype's HTML to
        // instead be a number based on how many items we have
        var newCollectionForm = collectionsPrototype.replace(/__name__/g, index);
        var newBoxForm = boxquantityPrototype.replace(/__boxname__/g, 0);
            newBoxForm = newBoxForm.replace(/__collectionname__/g, index);

        // increase the index with one for the next item
        $collectionHolder.data('index', index + 1);

        // Display the collection form in the page in an li, before the "Add collection" link li
        if(bootstrapListStyle === true){
            var $newCollectionFormLi = $('<li class="list-group-item requestedcollection-item-container"></li>').append(newCollectionForm);
        } else {
            var $newCollectionFormLi = $('<li class="requestedcollection-item-container"></li>').append(newCollectionForm);
        }    
        
        
        // Display the box form in the boxquantity list in an li, before the "Add box" link li
        var $newBoxFormUl = $('<ul class="requested_collection_boxquantity"></ul>');
        var $newBoxFormLi = $('<li class="list-group-item requestedcollectionbox-item-container"></li>');
        $newBoxFormLi.append(newBoxForm);
        $newBoxFormUl.append($newBoxFormLi);
        $newBoxFormUl.append($newBoxLinkLi); 
        $newCollectionFormLi.append($newBoxFormUl);
        
        // Add the collection and box before the +Add Collection list item
        $newLinkLi.before($newCollectionFormLi);
    }
    
    function addBoxForm($boxCollectionHolder, $newLinkLi, $parentCollectionHolder){
        // Extract the collection index for this collection
        var $collectionNameContainer = $boxCollectionHolder.siblings();
        //var collectionId = $collectionNameContainer.attr('id');
        //var collectionIndex = collectionId.match(/\d+$/); //matches the number at the end of the ID string
        console.log($collectionNameContainer);
        
        var boxquantityPrototype = $parentCollectionHolder.data('prototype-boxquantity');
        
        // get the new index for the box index
        var boxIndex = $requestedCollectionHolder.find(':input').length
        
        // Replace '__boxname__' in the prototype's HTML to
        // instead be a number based on how many items we have
        var newBoxForm = boxquantityPrototype.replace(/__boxname__/g, boxIndex);
            newBoxForm = newBoxForm.replace(/__collectionname__/g, collectionIndex);
        
        // increase the index with one for the next item
        $boxCollectionHolder.data('index', boxIndex + 1);
        
        // Display the collection form in the page in an li, before the "Add collection" link li
        var $newBoxFormLi = $('<li class="list-group-item requestedcollectionbox-item-container"></li>').append(newBoxForm);
 
        $newLinkLi.before($newBoxFormLi);
    }
{% endblock %}
