{% extends '::base.html.twig' %}
{% block title %}Library Hours: Semesters{% endblock %}
{% block body -%}
    <ul class="nav nav-pills">
        <li role="presentation"><a href="{{ path('hoursarea') }}"><span class="glyphicon glyphicon-th-list"></span> Areas</a></li>
        <li role="presentation" class="active"><a href="{{ path('hourssemester') }}"><span class="glyphicon glyphicon-th-large"></span> Semesters</a></li>
        <li role="presentation"><a href="{{ path('hoursevent') }}"><span class="glyphicon glyphicon-tags"></span> Special Events</a></li>
    </ul>
    <h1>Library Hours: Semesters <span><a class="btn btn-sm btn-primary" href="{{ path('hourssemester_new') }}"><span class="glyphicon glyphicon-plus"></span> New Semester</a></span></h1>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-9">
            <table class="table table-striped table-responsive records_list">
                <thead>
                    <tr>
                        <th>Semester</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>
                            {% if entity.season == 0 %}
                                Winter
                            {% elseif entity.season == 1 %}
                                Spring
                            {% elseif entity.season == 2 %}
                                Summer
                            {% elseif entity.season == 3 %}
                                Fall
                            {% endif %}    
                            {{ entity.year }}
                        </td>
                        <td>{% if entity.startDate %}{{ entity.startDate|date('m/d/Y') }}{% endif %}</td>
                        <td>{% if entity.endDate %}{{ entity.endDate|date('m/d/Y') }}{% endif %}</td>
                        <td>
                            {% if is_granted('ROLE_HOURS_EDIT', entity) %}
                                <a class="badge" href="{{ path('hourssemester_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
                            {% elseif is_granted('ROLE_HOURS_VIEW', entity) %}
                                <a class="badge" href="{{ path('hourssemester_show', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-pencil"></span> Show</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endblock %}
