{% extends '::base.html.twig' %}
{% block title %}Patron Feedback Areas{% endblock %}
{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block body -%}
  
    <ul class="nav nav-pills">
        <li role="presentation"><a href="{{ path('feedback') }}"><span class="glyphicon glyphicon-comment"></span> Feedback</a></li>
        <li role="presentation" class="active"><a href="{{ path('feedbackarea') }}"><span class="glyphicon glyphicon-th"></span> Areas</a></li>
        <li role="presentation"><a href="{{ path('feedbackcategory') }}"><span class="glyphicon glyphicon-tasks"></span> Types</a></li>
    </ul>
    
    {# Page Heading #}
    {% set headingvars = {'headingcontent' : 'Feedback Areas', 'newbutton' : true, 'newpath' : path('feedbackarea_new'), 'newpathlabel' : 'New Area' } %}
    {% include 'snippets/pageHeading.html.twig' with headingvars %}
    
    <blockquote>
        <p>Feedback areas allow you to further categorize patron feedback submissions. For example, suppose a patron comments a new library display. You could create a "Library Displays" area.</p>
        <p>Inside of each submission, you will be able to select which areas best suit the feedback. You are allowed to add sub-areas to main areas.</p>
    </blockquote>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        {{ styled_list|raw }}
      </div>
    </div>
          
{% endblock %}

{% block javascripts %}
  {{ parent() }}
{% endblock %}
