{% extends '::base.html.twig' %}
{% block title %}Book Search Requests{% endblock %}
{% block body -%}
    <h1 class="page-header">Book Search Requests</h1>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-9">
            <table class="table table-responsive table-striped records_list">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Patron</th>
                        <th>Status</th>
                        <th>Status Email</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity.bookTitle }}</td>
                        <td>{{ entity.bookAuthor }}</td>
                        <td>{{ entity.patronFirstName }} {{ entity.patronLastName }}</td>
                        <td>{{ entity.bookStatus|capitalize }}</td>
                        <td>{% if entity.patronEmailed is not null %}<span class="glyphicon glyphicon-ok-sign"></span>{% endif %}</td>
                        <td>
                            {% if is_granted('ROLE_BOOKSEARCH_EDIT', entity) %}
                                <a class="badge" href="{{ path('booksearchrequest_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
                            {% elseif is_granted('ROLE_BOOKSEARCH_VIEW', entity) %}
                                <a class="badge" href="{{ path('booksearchrequest_show', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-eye-open"></span> Show</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endblock %}
