<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %} &#8211; Library Command Center</title>
        {% block stylesheets %}          
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
          <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
          {% stylesheets 'bundles/app/css/*' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
          {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block navbar %}
        <nav class="navmenu navmenu-default navmenu-fixed-left offcanvas">
          <a class="navmenu-brand" href="{{ path('homepage') }}">Library Command</a>
          {% if app.user and is_granted('ROLE_ADMIN') %}
          <h5 class="sidebar-header">Administator</h5>
          <ul class="nav navmenu-nav">
            <li><a href="{{ path('admin') }}">Admin Dashboard</a></li>
            <li><a href="{{ path('user') }}">LDAP Users</a></li>
            <li><a href="{{ path('admin_patrongroup') }}">Library Patron Groups</a></li>
          </ul>
          {% endif %}
          <h5 class="sidebar-header">Organizational Tools</h5>
          <ul class="nav navmenu-nav">
            <li class="active"><a href="{{ path('hoursarea') }}">Hours</a></li>
            <li><a href="{{ path('liaisonsubject') }}">Liaisons</a></li>
            <li><a href="{{ path('medialibrary') }}">Media Library</a></li>
            <li>
                <a href="{{ path('staff') }}">Staff Directory</a>
                <ul>
                    {% if app.user and is_granted('ROLE_ADMIN') %}<li><a href="{{ path('admin_staffareas') }}">Staff Areas</a></li>{% endif %}
                    <li><a href="{{ path('department') }}">Departments</a></li>
                </ul>
            </li>
          </ul>
          <h5 class="sidebar-header">Website Forms</h5>
          <ul class="nav navmenu-nav">
            <li><a href="{{ path('avrequests') }}">Audio/Visual</a></li>
            <li><a href="{{ path('booksearchrequest') }}">Book Search</a></li>
            <li><a href="{{ path('extendedprivilege') }}">Extended Privilege</a></li>
            <li><a href="{{ path('roomrequest') }}">Faculty Room Reservation</a></li>
            <li><a href="{{ path('findtext') }}">FindText+</a></li>
            
            <li><a href="{{ path('materialpurchase') }}">Material Purchase</a></li>
            <li><a href="{{ path('materialreserve') }}">Material Reserve</a></li>
            <li><a href="{{ path('news') }}">Library News</a></li>
            <li><a href="{{ path('feedback') }}">Patron Feedback</a></li>
          </ul>
          <h5 class="sidebar-header">My Account</h5>
          <ul class="nav navmenu-nav">
            <li><a href="{{ path('fos_user_profile_show') }}">Profile</a></li>
            <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
          </ul>
        </nav>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('homepage') }}">Library Command Center</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                      {% if app.user %}
                        <li class="list-group-item-info"><a href="{{ path('fos_user_profile_show') }}"><span class="glyphicon glyphicon-user"></span> {{ app.user.username }}</a></li>
                      {% endif %}
                      {% if app.user %}
                        <li class="list-group-item-danger"><a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                      {% else %}
                        <li class="list-group-item-success"><a href="{{ path('fos_user_security_login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                      {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        {% endblock %}
        
        <div class="container-fluid">
        {% block body %}{% endblock %}
        
          <footer class="hidden-print">
           {% block footer %}Footer{% endblock %}
          </footer>
        </div><!-- /.container-fluid -->
        
       
       
        {% block javascripts %}
          <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
          <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
          {% javascripts '@AppBundle/Resources/public/js/*' %}  
            <script type="text/javascript" src="{{ asset_url }}"></script>
          {% endjavascripts %}
        {% endblock %}
        
        <script>
          $(document).ready(function () {
              /* Other gloabal JS included in AppBundle/Resources/public/js/custom.js */
              {% block documentReady %}{% endblock documentReady %}
          });
        </script>
    </body>
</html>

    
