{% extends '::printbase.html.twig' %}
{% block title %}Government Documents Monthly Statistics{% endblock %}
{% block body %}
    
    {# Totals #}
    {% set totalItemsAddedGross = 0 %}
    {% set totalItemsWithdrawn = 0 %}
    {% set totalPapers = 0 %}
    {% set totalOPAC = 0 %}
    {% set totalWeeklyRecordsAdded = 0 %}
    {% set totalMonthlyRecordsAdded = 0 %}
    {% set totalMonthlyNonOverlays = 0 %}
    
<h1>Government Documents Statistics: {{ type|capitalize }} Year {{ year }}</h1>
<button class="print-btn" onclick="window.print();">Print</button>
    {% if options.holdings is defined %}
    <table class="libcommand-print-table libcommand-print-table-650">
        {% set tableHeadingVars = { 'category': 'Holdings' } %}
        {% include 'snippets/monthlystats-tableheading-template.html.twig' with tableHeadingVars %}
        <tbody>
            <tr>
                <th>Items Added (gross)</th>
                {% for monthly in entities %}
                    {% if monthly == null %}
                        <td>0</td>
                    {% else %}
                        {% set totalItemsAddedGross = totalItemsAddedGross + monthly.itemsAddedGross %}
                        <td>{{monthly.itemsAddedGross}}</td>
                    {% endif %}
                {% endfor %}
                <td>{{ totalItemsAddedGross }}</td>
            </tr>
            <tr>
                <th>Items Withdrawn</th>
                {% for monthly in entities %}
                    {% if monthly == null %}
                        <td>-0</td>
                    {% else %}
                        {% set totalItemsWithdrawn = totalItemsWithdrawn + monthly.itemsWithdrawn %}
                        <td>-{{monthly.itemsWithdrawn}}</td>
                    {% endif %}
                {% endfor %}
                <td>-{{ totalItemsWithdrawn }}</td>
            </tr>
            <tr>
                <th>Net Items Added</th>
                {% for monthly in entities %}
                    {% if monthly == null %}
                        <td>0</td>
                    {% else %}
                        <td>{{ monthly.itemsAddedGross - monthly.itemsWithdrawn }}</td>
                    {% endif %}
                {% endfor %}
                <td>{{ totalItemsAddedGross - totalItemsWithdrawn }}</td>
            </tr>
        </tbody>
    </table>
    {% endif %}
    {% if options.usage is defined %}
    <table class="libcommand-print-table libcommand-print-table-650">
        {% set tableHeadingVars = { 'category': 'Usage' } %}
        {% include 'snippets/monthlystats-tableheading-template.html.twig' with tableHeadingVars %}
        <tbody>
            <tr>
                <th>Paper</th>
                {% for monthly in entities %}
                    {% if monthly == null %}
                        <td>0</td>
                    {% else %}
                        {% set totalPapers = totalPapers + monthly.paper %}
                        <td>{{monthly.paper}}</td>
                    {% endif %}
                {% endfor %}
                <td>{{ totalPapers }}</td>
            </tr>
            <tr>
                <th>Electronic (OPAC URLs)</th>
                {% for monthly in entities %}
                    {% if monthly == null %}
                        <td>0</td>
                    {% else %}
                        {% set totalOPAC = totalOPAC + monthly.electronicOpacUrls %}
                        <td>{{monthly.electronicOpacUrls}}</td>
                    {% endif %}
                {% endfor %}
                <td>{{ totalOPAC }}</td>
            </tr>
        </tbody>
    </table>
    {% endif %}
    {% if options.processing is defined %}
    <table class="libcommand-print-table libcommand-print-table-650">
        {% set tableHeadingVars = { 'category': 'Processing' } %}
        {% include 'snippets/monthlystats-tableheading-template.html.twig' with tableHeadingVars %}
        <tbody>
            <tr>
                <th>Weekly Records Added</th>
                {% for monthly in entities %}
                    {% if monthly == null %}
                        <td>0</td>
                    {% else %}
                        {% set totalWeeklyRecordsAdded = totalWeeklyRecordsAdded + monthly.weeklyRecordsAdded %}
                        <td>{{monthly.weeklyRecordsAdded}}</td>
                    {% endif %}
                {% endfor %}
                <td>{{ totalWeeklyRecordsAdded }}</td>
            </tr>
            <tr>
                <th>Monthly Records Added</th>
                {% for monthly in entities %}
                    {% if monthly == null %}
                        <td>0</td>
                    {% else %}
                        {% set totalMonthlyRecordsAdded = totalMonthlyRecordsAdded + monthly.monthlyRecordsAdded %}
                        <td>{{monthly.monthlyRecordsAdded}}</td>
                    {% endif %}
                {% endfor %}
                <td>{{ totalMonthlyRecordsAdded }}</td>
            </tr>
            <tr>
                <th>Monthly Non-Overlays</th>
                {% for monthly in entities %}
                    {% if monthly == null %}
                        <td>0</td>
                    {% else %}
                        {% set totalMonthlyNonOverlays = totalMonthlyNonOverlays + monthly.monthlyNonOverlays %}
                        <td>{{monthly.monthlyNonOverlays}}</td>
                    {% endif %}
                {% endfor %}
                <td>{{ totalMonthlyNonOverlays }}</td>
            </tr>
        </tbody>
    </table>
    {% endif %}            
{% endblock %}
