{% extends '::base.html.twig' %}
{% block title %}Government Documents Monthly Statistics{% endblock %}
{% block body -%}
    
    {# Page Heading #}
    {% set headingvars = {'headingcontent' : 'Government Document Stats: ' ~ entity.month|date('F Y') } %}
    {% include 'snippets/pageHeading.html.twig' with headingvars %}
    
    {# Back button, edit and print buttons #}
    {% set toolbarvars = {'basepath' : path('monthly_govdocs'), 'editpath' : path('monthly_govdocs_edit', { 'id': entity.id }), 'printpath' : path('monthly_govdocs_print', { 'id': entity.id }), 'editrole' : 'ROLE_MONTHLYGOVDOCS_EDIT'} %}
    {% include 'snippets/showToolbar.html.twig' with toolbarvars %}
    
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-7">
            <table class="table table-responsive table-striped">
                <caption>Items</caption>
                <tbody>
                    <tr>
                        <td>Items added (gross)</td>
                        <td>{{ entity.itemsAddedGross }}</td>
                    </tr>
                    <tr>
                        <td>Items withdrawn</td>
                        <td>{{ entity.itemsWithdrawn }}</td>
                    </tr>
                    <tr>
                        <td>Items added (net)</td>
                        <td>{{ entity.itemsAddedGross - entity.itemsWithdrawn }}</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-responsive table-striped">
                <caption>Usage</caption>
                <tbody>
                    <tr>
                        <td>Paper</td>
                        <td>{{entity.paper}}</td>
                    </tr>
                    <tr>
                        <td>Electronic (OPAC URLs)</td>
                        <td>{{entity.electronicOpacUrls}}</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-responsive table-striped">
                <caption>Processing</caption>
                <tbody>
                    <tr>
                        <td>Weekly records added</td>
                        <td>{{ entity.weeklyRecordsAdded }}</td>
                    </tr>
                    <tr>
                        <td>Monthly records added</td>
                        <td>{{ entity.monthlyRecordsAdded }}</td>
                    </tr>
                    <tr>
                        <td>Monthly non-overlays</td>
                        <td>{{ entity.monthlyNonOverlays }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block documentReady %}

{% endblock %}