{% extends '::base.html.twig' %}
{% block title %}Faculty Room Requests{% endblock %}
{% block body %}
    <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="{{ path('roomrequest') }}"><span class="glyphicon glyphicon-th-list"></span> Room Requests</a></li>
        <li role="presentation"><a href="{{ path('roomrequestequipment') }}"><span class="glyphicon glyphicon-blackboard"></span> Equipment</a></li>
        <li role="presentation"><a href="{{ path('roomrequestroom') }}"><span class="glyphicon glyphicon-th-large"></span> Room Types</a></li>
    </ul>
    <h1 class="page-header">Faculty Room Requests</h1>
    <p class="badge">{{ pagination.getPaginationData.totalCount }} Total Requests</p>
    <p>Page {{pagination.getPaginationData.current}} of {{pagination.getPaginationData.pageCount}}</p>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-9">
            <table class="table table-responsive table-striped tablesorter" id="jquerySortable_1">
                <thead>
                    <tr>
                        <th>Reserve Date</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Faculty Name</th>
                        <th>Need Training?</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for entity in pagination %}
                    <tr>
                        <td>{% if entity.reserveDate %}{{ entity.reserveDate|date('n/j/y') }}{% endif %}</td>
                        <td>{{ entity.startTime|date('g:i A') }}</td>
                        <td>{{ entity.endTime|date('g:i A') }}</td>
                        <td>{{ entity.facultyFirstName }} {{ entity.facultyLastName }}</td>
                        <td>{% if entity.isTrainingNeeded %}<span class="label label-danger">YES</span>{% else %}<span class="label label-default">No</span>{% endif %}</td>
                        <td>
                            {% if is_granted('ROLE_ROOMREQUEST_EDIT', entity) %}
                                <a class="badge" href="{{ path('roomrequest_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
                            {% elseif is_granted('ROLE_ROOMREQUEST_VIEW', entity) %}
                                <a class="badge" href="{{ path('roomrequest_show', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-eye-open"></span> Show</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <p>Page {{pagination.getPaginationData.current}} of {{pagination.getPaginationData.pageCount}}</p>
    {{ include('AppBundle:Pagination:paginator.html.twig') }}
{% endblock %}
{% block documentReady %} 
    //uses jQuery Tablesorter to sort columns for paginated results (http://tablesorter.com/)
    $('#jquerySortable_1').tablesorter({
        headers: {
            5: {
                sorter: false
            },
        }
    });
    
    //refresh the page with the new number of records per page
    $('#paginationMaxResults').on('change', function(){
        var item = $(this).find(":selected").val();
        var url = '{{path('roomrequest', {'maxItems': '_item'})}}';
        
        window.location.href = url.replace('_item',item );
    });
{% endblock %}
