{% extends '::base.html.twig' %}
{% block title %}Faculty Room Request Equipment{% endblock %}
{% block body -%}
    <ul class="nav nav-pills">
        <li role="presentation"><a href="{{ path('roomrequest') }}"><span class="glyphicon glyphicon-th-list"></span> Room Requests</a></li>
        <li role="presentation" class="active"><a href="{{ path('roomrequestequipment') }}"><span class="glyphicon glyphicon-blackboard"></span> Equipment</a></li>
        <li role="presentation"><a href="{{ path('roomrequestroom') }}"><span class="glyphicon glyphicon-th-large"></span> Room Types</a></li>
    </ul>
   
    {# Page Heading #}
    {% set headingvars = {'headingcontent' : 'Room Request Equipment', 'newbutton' : true, 'newpath' : path('roomrequestequipment_new'), 'newpathlabel' : 'New Equipment' } %}
    {% include 'snippets/pageHeading.html.twig' with headingvars %}
    
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">
            <table class="table table-responsive table-striped records_list">
                <caption>Fixed Equipment</caption>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for entity in fixed_entities %}
                    <tr>
                        <td>{{ entity.name }}</td>
                        <td>
                            {% if is_granted('ROLE_ROOMREQUEST_EDIT', entity) %}
                                <a class="badge" href="{{ path('roomrequestequipment_edit', { 'id': entity.id }) }}" aria-label="edit"><span class="glyphicon glyphicon-pencil"></span></a>
                                <a class="badge" href="{{ path('roomrequestequipment_print', { 'id': entity.id }) }}" target="_blank" aria-label="print"><span class="glyphicon glyphicon-print"></span></a>
                            {% elseif is_granted('ROLE_ROOMREQUEST_VIEW', entity) %}
                                <a class="badge" href="{{ path('roomrequestequipment_show', { 'id': entity.id }) }}" aria-label="show"><span class="glyphicon glyphicon-eye-open"></span></a>
                                <a class="badge" href="{{ path('roomrequestequipment_print', { 'id': entity.id }) }}" target="_blank" aria-label="print"><span class="glyphicon glyphicon-print"></span></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
            <table class="table table-responsive table-striped records_list">
                <caption>Mobile Equipment</caption>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for entity in mobile_entities %}
                    <tr>
                        <td>{{ entity.name }}</td>
                        <td>
                            {% if is_granted('ROLE_ROOMREQUEST_EDIT', entity) %}
                                <a class="badge" href="{{ path('roomrequestequipment_edit', { 'id': entity.id }) }}" aria-label="edit"><span class="glyphicon glyphicon-pencil"></span></a>
                                <a class="badge" href="{{ path('roomrequestequipment_print', { 'id': entity.id }) }}" target="_blank" aria-label="print"><span class="glyphicon glyphicon-print"></span></a>
                            {% elseif is_granted('ROLE_ROOMREQUEST_VIEW', entity) %}
                                <a class="badge" href="{{ path('roomrequestequipment_show', { 'id': entity.id }) }}" aria-label="show"><span class="glyphicon glyphicon-eye-open"></span></a>
                                <a class="badge" href="{{ path('roomrequestequipment_print', { 'id': entity.id }) }}" target="_blank" aria-label="print"><span class="glyphicon glyphicon-print"></span></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endblock %}
