{% extends '::base.html.twig' %}
{% block title %}Images &#8211; Media Library{% endblock %}
{% block body -%}
        
    {# Page Heading #}
    {% set headingvars = {'headingcontent' : 'Edit ' ~ entity.name } %}
    {% include 'snippets/pageHeading.html.twig' with headingvars %}
    
    {# Back button and print button #}
    {% set toolbarvars = {'basepath' : path('medialibrary_image') } %}
    {% include 'snippets/editToolbar.html.twig' with toolbarvars %}
    
    
    <div class="row">
      <div class="col-xs-12">
          <div class="well well-lg">
              {{ form_start(edit_form) }} 
                {{ form_row(edit_form.name) }}
                <div id="hidden-fields-container">
                    {{ form_row(edit_form.file) }}
                </div>
              {{ form_end(edit_form) }} 
              {% if is_granted("ROLE_MEDIALIBRARY_DELETE") %}
              {{ form(delete_form) }}
              {% endif %}
          </div> 
      </div>
    </div>
    {% include 'snippets/imageOptions.html.twig' %}
{% endblock %}

{% block documentReady %}
    //hide the form elements in this container
    $('#hidden-fields-container').hide();
  {{ parent() }}
{% endblock %}
