{% extends '::base.html.twig' %}
{% block title %}Images &#8211; Media Library{% endblock %}
{% block body -%}
    <ul class="nav nav-pills">
        <li role="presentation"><a href="{{ path('medialibrary') }}"><span class="glyphicon glyphicon-th-list"></span> All Media</a></li>
        <li role="presentation" class="active"><a href="{{ path('medialibrary_image') }}"><span class="glyphicon glyphicon-camera"></span> Images</a></li>
        <li role="presentation"><a href="#"><span class="glyphicon glyphicon-file"></span> Files</a></li>
    </ul>
    
    {# Page Heading #}
    {% set headingvars = {'headingcontent' : 'Media Library: Images', 'newbutton' : true, 'newpath' : path('medialibrary_image_new'), 'newpathlabel' : 'New Image' } %}
    {% include 'snippets/pageHeading.html.twig' with headingvars %}
    <p class="badge">{{ pagination.getPaginationData.totalCount }} Total Requests</p>
    <p>Page {{pagination.getPaginationData.current}} of {{pagination.getPaginationData.pageCount}}</p>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <table class="table table-responsive table-striped records_list"  id="jquerySortable_1">
                <thead>
                    <tr>
                        <th><span class="sr-only">Thumbnail</span></th>
                        <th>Image Title</th>
                        <th>Uploaded</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for entity in pagination %}
                    <tr>
                        <td><img src="{{ asset('uploads/' ~ entity.subdir ~ '/' ~ entity.path) | imagine_filter('thumb') }}" alt="{{ entity.path }}" title="{{ entity.path }}"/></td>
                        <td>{{ entity.name }}</td>
                        <td>{{ entity.created|date('n/j/y') }}</td>
                        <td>
                            {% if is_granted('ROLE_MEDIALIBRARY_EDIT', entity) %}
                                <a class="badge" href="{{ path('medialibrary_image_edit', { 'id': entity.id }) }}" aria-label="edit"><span class="glyphicon glyphicon-pencil"></span></a>
                            {% elseif is_granted('ROLE_MEDIALIBRARY_VIEW', entity) %}
                                <a class="badge" href="{{ path('medialibrary_image_show', { 'id': entity.id }) }}" aria-label="show"><span class="glyphicon glyphicon-eye-open"></span></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <p>Page {{pagination.getPaginationData.current}} of {{pagination.getPaginationData.pageCount}}</p>
    {{ include('AppBundle:Pagination:paginator.html.twig') }}
    {% endblock %}
{% block documentReady %} 
    //uses jQuery Tablesorter to sort columns for paginated results (http://tablesorter.com/)
    $('#jquerySortable_1').tablesorter({
        headers: {
            0: {
                sorter: false
            },
            3: {
                sorter: false
            },
        }
    });
    
    //refresh the page with the new number of records per page
    $('#paginationMaxResults').on('change', function(){
        var item = $(this).find(":selected").val();
        var url = '{{path('medialibrary', {'maxItems': '_item'})}}';
        
        window.location.href = url.replace('_item',item );
    });
{% endblock %}
