{% extends "emailbase.html.twig" %}

{% block body %}
    <h1>Thank you for your Media Reserve Submission</h1> 
    <p>Below is a summary of your submission.</p>
  
<table border="0" cellpadding="10" cellspacing="1" width="100%">
  <caption style="background:rgb(108, 122, 137); padding:4px; color:#FFFFFF"><strong>General Information</strong></caption>
  <tr><td align="right">Received</td><td align="right">{{ entity.created|date('l n/j/y g:i A') }}</td></tr>
  <tr><td align="right">Semester</td><td align="right">{{ entity.semester|capitalize }} {{ entity.year }}</td></tr>
  <tr><td align="right">Course/Event</td><td align="right">{{ entity.course }}</td></tr>
  <tr><td align="right">Expected Enrollment</td><td align="right">{{ entity.enrollment }}</td></tr>
</table>

  <h2>Reserve Items</h2>
{% for item in entity.item if entity.item %}
<table border="0" cellpadding="10" cellspacing="1" width="100%">
  <caption style="background:rgb(108, 122, 137); padding:4px; color:#FFFFFF"><strong>{{ item.title }}</strong></caption>
  {% if item.author %}<tr><td align="right">Author</td><td align="right">{{ item.author }}</td></tr>{% endif %}
  {% if item.edition %}<tr><td align="right">Edition</td><td align="right">{{ item.edition }}</td></tr>{% endif %}
  <tr>
      <td align="right">Circulation Period</td>
      <td align="right">
          {% if item.circulationHours < 24 %}
            {{item.circulationHours}} Hours
          {% else %}
            {{item.circulationHours / 24}} {{ item.circulationHours == 24 ? 'Day' : 'Days' }}
          {% endif %}
      </td>
  </tr>
</table>
{% endfor %}
{% endblock %}
