<div id="appbundle_monthlystatsarchives_{{ bookType }}Books___name__">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-9">
            <label class="control-label required" for="appbundle_monthlystatsarchives_{{ bookType }}Books___name___bookTitle">Title</label>
            <select id="appbundle_monthlystatsarchives_{{ bookType }}Books___name___bookTitle" name="appbundle_monthlystatsarchives[{{ bookType }}Books][__name__][bookTitle]" required="required" class="form-control">
                <option value="" selected="selected">{{ form.children.bookTitle.vars.placeholder }}</option>
                {% for option in form.children.bookTitle.vars.choices %}
                    <option value="{{ option.data.id }}">{{ option.data.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-2">
            <label class="control-label required" for="appbundle_monthlystatsarchives_{{ bookType }}Books___name___quantity">Quantity</label>
            <input type="number" id="appbundle_monthlystatsarchives_{{ bookType }}Books___name___quantity" name="appbundle_monthlystatsarchives[{{ bookType }}Books][__name__][quantity]" required="required" class="{{ bookType }}book_quantity form-control" />
        </div>
        <div class="col-xs-12 col-sm-1">
            <button type="button" class="delete-{{ bookType }}book btn btn-link"><span class="glyphicon glyphicon-trash text-danger" aria-label="delete {{ bookType }} book"></span></button>
        </div>
    </div>
</div>