<div class="boxquantity-identifier" id="appbundle_monthlystatsarchives_{{ (collectionType) }}Collections___collectionname___boxQuantity___boxname__">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9">
            <label class="control-label required" for="appbundle_monthlystatsarchives_{{ (collectionType) }}Collections___collectionname___boxQuantity___boxname___box">{{ form.children.box.vars.label }}</label>
            <select id="appbundle_monthlystatsarchives_{{ (collectionType) }}Collections___collectionname___boxQuantity___boxname___box" name="appbundle_monthlystatsarchives[{{ (collectionType) }}Collections][__collectionname__][boxQuantity][__boxname__][box]" required="required" class="form-control">
                <option value="" selected="selected">{{ form.children.box.vars.placeholder }}</option>
                {% for option in form.children.box.vars.choices %}
                    <option value="{{ option.data.id }}">{{ option.data.boxNumber }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
            <label class="control-label required" for="appbundle_monthlystatsarchives_{{ (collectionType) }}Collections___collectionname___boxQuantity___boxname___quantity">Quantity</label>
            <input type="number" id="appbundle_monthlystatsarchives_{{ (collectionType) }}Collections___collectionname___boxQuantity___boxname___quantity" name="appbundle_monthlystatsarchives[{{ (collectionType) }}Collections][__collectionname__][boxQuantity][__boxname__][quantity]" required="required" class="{{ collectionType }}collectionbox_quantity form-control" />
        </div>
        <div class="col-xs-12 col-sm-1">
            <button type="button" class="delete-{{ collectionType }}collectionsbox btn btn-link"><span class="glyphicon glyphicon-trash text-danger" aria-label="delete {{ collectionType }} collection"></span></button>
        </div>
    </div>
</div>