<div id="appbundle_monthlystatsarchives_{{ collectionType}}Collections___name__">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <label class="control-label required" for="appbundle_monthlystatsarchives_{{ collectionType}}Collections___name___callNumber">Call number</label>
            <input type="text" id="appbundle_monthlystatsarchives_{{ collectionType}}Collections___name___callNumber" name="appbundle_monthlystatsarchives[{{ collectionType}}Collections][__name__][callNumber]" required="required" maxlength="70" class="form-control" />
        </div>
        <div class="col-xs-12 col-sm-4">
            <label class="control-label required" for="appbundle_monthlystatsarchives_{{ collectionType}}Collections___name___linearFeet">Linear feet</label>
            <input type="text" id="appbundle_monthlystatsarchives_{{ collectionType}}Collections___name___linearFeet" name="appbundle_monthlystatsarchives[{{ collectionType}}Collections][__name__][linearFeet]" required="required" step="0.1" type="number" min="0" class="form-control" />
        </div>
        <div class="col-xs-12 col-sm-2">
            <button type="button" class="delete-{{ collectionType }}collection btn btn-link"><span class="glyphicon glyphicon-trash text-danger" aria-label="delete {{ collectionType }} collection"></span></button>
        </div>
    </div>
</div>
                                                                                