{% extends '::base.html.twig' %}
{% block title %}Material Reserves{% endblock %}
{% block body -%}
    <h1 class="page-header">Edit Material Reserve Request #{{entity.id}}</h1>
    <div class="row">
      <div class="col-xs-12">
        <p><a class="btn btn-sm btn-primary" href="{{ path('materialreserve') }}"><span class="glyphicon glyphicon-arrow-left"></span> Back to AV List</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6">
          <div class="row">
              <div class="col-xs-12">
                <table class="table table-responsive table-striped">
                    <caption>General Information</caption>
                    <tbody>
                        <tr>
                            <th>Submitted</th>
                            <td>{{ entity.created|date('l n/j/y g:i A') }}</td>
                        </tr>
                        <tr>
                            <th>Semester</th>
                            <td>{{ entity.semester|capitalize }} {{ entity.year }}</td>
                        </tr>
                        <tr>
                            <th>Course/Event</th>
                            <td>{{ entity.course }}</td>
                        </tr>
                        <tr>
                            <th>Expected Enrollment</th>
                            <td>{{ entity.enrollment }}</td>
                        </tr>
                    </tbody>
                </table>
              </div>
          </div>
         <div class="row">
              <div class="col-xs-12">
                <table class="table table-responsive table-striped">
                    <caption>Instructor Information</caption>
                    <tbody>
                        <tr>
                            <th>Name</th>
                            <td>{{ entity.instructor }}</td>
                        </tr>
                        <tr>
                            <th>Phone</th>
                            <td>{{ entity.phone }}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{ entity.email }}</td>
                        </tr>
                    </tbody>
                </table>
              </div>
         </div>
         <div class="row">
              <div class="col-xs-12">
                  {% if is_granted("ROLE_MATERIALRESERVE_DELETE") %}
                  {{ form(delete_form) }}
                  {% endif %}
              </div>
         </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6">
          <h2>Reserve Items</h2>
        {% for item in entity.item %} 
         <div class="panel panel-info">
           <div class="panel-heading">
             <h3 class="panel-title">{{item.title}}</h3>
           </div>
           <div class="panel-body">
               <table class="table table-responsive">
                   <tbody>
                       <tr>
                           <th>Media Type</th>
                           <td>{{item.materialReserveMedia}}</td>
                       </tr>
                       <tr>
                           <th>Author</th>
                           <td>{{item.author}}</td>
                       </tr>
                       <tr>
                           <th>Edition</th>
                           <td>{{item.edition}}</td>
                       </tr>
                       <tr>
                           <th>Circulation Period</th>
                           <td>
                             {% if item.circulationHours < 24 %}
                               {{item.circulationHours}} Hours
                             {% else %}
                               {{item.circulationHours / 24}} {{ item.circulationHours == 24 ? 'Day' : 'Days' }}
                             {% endif %}
                           </td>
                       </tr>
                   </tbody>
               </table>
           </div>
         </div>
        {% endfor %}
      </div>
    </div>
    {# form(edit_form) #}
{% endblock %}
