{% extends '::base.html.twig' %}
{% block title %}Material Reserves{% endblock %}
{% block body -%}
    <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="{{ path('materialreserve') }}"><span class="glyphicon glyphicon-th-list"></span> Material Reserve Requests</a></li>
        <li role="presentation"><a href="{{ path('materialreservemedia') }}"><span class="glyphicon glyphicon-blackboard"></span> Media Types</a></li>
    </ul>
    <h1 class="page-header">Material Reserves</h1>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <table class="table table-responsive table-striped records_list">
                <thead>
                    <tr>
                        <th>Created</th>
                        <th>Semester</th>
                        <th>Instructor</th>
                        <th>Course/Event</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{% if entity.created %}{{ entity.created|date('m/d/Y') }}{% endif %}</td>
                        <td>{{ entity.semester }} {{ entity.year }}</td>
                        <td>{{ entity.instructor }}</td>
                        <td>{{ entity.course }}</td>
                        <td>
                            {% if is_granted('ROLE_MATERIALRESERVE_EDIT', entity) %}
                                <a class="badge" href="{{ path('materialreserve_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
                            {% elseif is_granted('ROLE_MATERIALRESERVE_VIEW', entity) %}
                                <a class="badge" href="{{ path('materialreserve_show', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-eye-open"></span> Show</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    {% endblock %}
