{% extends '::base.html.twig' %}

{% block body -%}
    <h1 class="page-header">Edit Extension Request</h1>
    <div class="row">
      <div class="col-xs-12">
        <p><a class="btn btn-sm btn-primary" href="{{ path('extendedprivilege') }}"><span class="glyphicon glyphicon-arrow-left"></span> Back to Extensions List</a></p>
      </div>
    </div>
    <section id="submission_info">
      <h2>Submission Information</h2> 
      <dl>
        <dt>Received</dt>
        <dd>{{ entity.created|date('l n/j/y g:i A') }}</dd>
        <dt>Privilege Expiration</dt>
        <dd>{{ entity.expirationDate|date('l n/j/y') }}</dd>
      </dl>
      <h2>Faculty Information</h2> 
      <dl>
        <dt>Name</dt>
        <dd>{{ entity.facultyFirstName }} {{ entity.facultyLastName }}</dd>
        <dt>Department</dt>
        <dd>{{ entity.facultySubject }}</dd>
        <dt>Phone</dt>
        <dd>{{ entity.facultyPhone }}</dd>
        <dt>Email</dt>
        <dd>{{ entity.facultyEmail }}</dd>
      </dl>
      <h2>Student Information</h2> 
      <dl>
        <dt>Name</dt>
        <dd>{{ entity.studentFirstName }} {{ entity.studentLastName }}</dd>
        <dt>E-Number</dt>
        <dd>{{ entity.studentEnumber }}</dd>
        <dt>Phone</dt>
        <dd>{{ entity.facultyPhone }}</dd>
        <dt>Email</dt>
        <dd>{{ entity.facultyEmail }}</dd>
      </dl>
    </section>
    {{ form(edit_form) }}
    {{ form(delete_form) }}
{% endblock %}
