{% extends '::base.html.twig' %}
{% block title %}Material Purchase Request Reasons{% endblock %}
{% block body -%}
    <ul class="nav nav-pills">
        <li role="presentation"><a href="{{ path('materialpurchase') }}"><span class="glyphicon glyphicon-th-list"></span> Material Requests</a></li>
        <li role="presentation"><a href="{{ path('mediatype') }}"><span class="glyphicon glyphicon-blackboard"></span> Media Types</a></li>
        <li role="presentation" class="active"><a href="{{ path('materialpurchaserequestreason') }}"><span class="glyphicon glyphicon-blackboard"></span> Purchase Reasons</a></li>
        <li role="presentation"><a href="{{ path('materialpurchasestatus') }}"><span class="glyphicon glyphicon-check"></span> Request Statuses</a></li>
    </ul>
 
    {# Page Heading #}
    {% set headingvars = {'headingcontent' : 'Material Purchase Request Reasons', 'newbutton' : true, 'newpath' : path('materialpurchaserequestreason_new'), 'newpathlabel' : 'New Reason' } %}
    {% include 'snippets/pageHeading.html.twig' with headingvars %}
    
    <blockquote>
        <p>Request pruchase reasons are presented to the patron. The patron can supply an additional explanation along with the reasons created here.</p>
    </blockquote>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <table class="table table-responsive table-striped records_list">
                <thead>
                    <tr>
                        <th>Reason</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity.name }}</td>
                        <td>
                            {% if is_granted('ROLE_MATERIALPURCHASE_EDIT', entity) %}
                                <a class="badge" href="{{ path('materialpurchaserequestreason_edit', { 'id': entity.id }) }}" aria-label="edit"><span class="glyphicon glyphicon-pencil"></span></a>
                                <a class="badge" href="{{ path('materialpurchaserequestreason_print', { 'id': entity.id }) }}" target="_blank" aria-label="print"><span class="glyphicon glyphicon-print"></span></a>
                            {% elseif is_granted('ROLE_AV_VIEW', entity) %}
                                <a class="badge" href="{{ path('materialpurchaserequestreason_show', { 'id': entity.id }) }}" aria-label="show"><span class="glyphicon glyphicon-eye-open"></span></a>
                                <a class="badge" href="{{ path('materialpurchaserequestreason_print', { 'id': entity.id }) }}" target="_blank" aria-label="print"><span class="glyphicon glyphicon-print"></span></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endblock %}
