{% extends '::base.html.twig' %}
{% block title %}Material Purchase Request Reasons{% endblock %}
{% block body -%}
    <ul class="nav nav-pills">
        <li role="presentation"><a href="{{ path('materialpurchase') }}"><span class="glyphicon glyphicon-th-list"></span> Material Requests</a></li>
        <li role="presentation" class="active"><a href="{{ path('materialpurchaserequestreason') }}"><span class="glyphicon glyphicon-blackboard"></span> Purchase Reasons</a></li>
        <li role="presentation"><a href="{{ path('materialpurchasestatus') }}"><span class="glyphicon glyphicon-check"></span> Request Statuses</a></li>
    </ul>
    <h1 class="page-header">Material Purchase Request Reasons <span><a class="btn btn-sm btn-primary" href="{{ path('materialpurchaserequestreason_new') }}"><span class="glyphicon glyphicon-plus"></span> New Reason</a></span></h1>
    
    <blockquote>
        <p>Request pruchase reasons are presented to the patron. The patron can supply an additional explanation along with the reasons created here.</p>
    </blockquote>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <table class="table table-responsive table-striped records_list">
                <thead>
                    <tr>
                        <th>Reason</th>
                    </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>
                            {{ entity.name }}
                            {% if is_granted('ROLE_MATERIALPURCHASE_EDIT', entity) %}
                                <a class="badge" href="{{ path('materialpurchaserequestreason_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
                            {% elseif is_granted('ROLE_MATERIALPURCHASE_VIEW', entity) %}
                                <a class="badge" href="{{ path('materialpurchaserequestreason_show', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-eye-open"></span> Show</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endblock %}
