{% extends '::base.html.twig' %}
{% block title %}My Instruction Sessions{% endblock %}
{% block body -%}
    
    {# Instruction toolbar #}
    {% set instructionvars = {'dashboard' : true } %}
    {% include 'snippets/instructionDashboardToolbar.html.twig' with instructionvars %}
            
    {# Page Heading #}
    {% set headingvars = {'headingcontent' : app.user.staffMember.firstName ~ ' ' ~ app.user.staffMember.lastName  ~ '\'s Instruction Sessions', 'newbutton' : false } %}
    {% include 'snippets/pageHeading.html.twig' with headingvars %}
    
    {# Flash message in case a filter search wasn't properly formatted/submitted. #}
    {% for flash_message in app.session.flashBag.get('flash-danger') %}
        <div class="alert alert-danger">
            {{ flash_message }}
        </div>
    {% endfor %}
    
    <div class="dropdown" id="new-instruction-dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Add Instruction
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="newInstructionDropdown">
          <li><a href="{{ path('groupinstruction_new') }}">Group</a></li>
          <li><a href="{{ path('individualinstruction_new') }}">Individual</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">
            <section id="instruction-data">
                <h2>Ledger</h2>
                <p>This is a display of your most recent <mark>personal</mark> insturction sessions. 
                    To perform a filtered search of sessions by librarian, instruction type, or date range, use the "Search Instructions" feature in the toolbar above.</p>
                <div id="instruction-container" class="table-responsive">
                {% include 'AppBundle:Instruction:results-ajax.html.twig' %}
                </div>
            </section>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
            <section id="stats-data">
                <h2>Instruction Statistics</h2>
                <p>This is an overview of the number of group and individual instruction sessions during different time frames. 
                    Note that these results do NOT include any sessions that you may have already logged which will occur in the future.</p>
                <div class="row">
                    <div class="col-xs-12 col-sm-6"> 
                        <article id="my-insturction-statistics">
                            <h3>My Sessions <span class="badge">{{individual_statistics.allMonths}}</span></h3>
                            <div class="list-group">
                                <div class="list-group-item">
                                    <h4 class="list-group-item-heading">Last 3 Months <span class="badge">{{individual_statistics.last3Months}}</h4>
                                    <p class="list-group-item-text">
                                        {# Sends a GET request to the path instruction_results. Put the parameters inside the 'instrsearch' key because that is the name of
                                            the form as defined in AppBundle:Form:InstructionSearchType #}
                                        <a href="{{ path('instruction_results', {'instrsearch': {'lastmonths': 3, 'librarian': app.user.staffMember.id} }) }}">See List</a>
                                    </p>
                                </div>
                                <div class="list-group-item">
                                    <h4 class="list-group-item-heading">Last 6 Months <span class="badge">{{individual_statistics.last6Months}}</span></h4>
                                    <p class="list-group-item-text"><a href="{{ path('instruction_results', {'instrsearch': {'lastmonths': 6, 'librarian': app.user.staffMember.id} }) }}">See List</a></p>
                                </div>
                                <div class="list-group-item">
                                    <h4 class="list-group-item-heading">Last 9 Months <span class="badge">{{individual_statistics.last9Months}}</h4>
                                    <p class="list-group-item-text"><a href="{{ path('instruction_results', {'instrsearch': {'lastmonths': 9, 'librarian': app.user.staffMember.id} }) }}">See List</a></p>
                                </div>
                                <div class="list-group-item">
                                    <h4 class="list-group-item-heading">Last 12 Months <span class="badge">{{individual_statistics.last12Months}}</h4>
                                    <p class="list-group-item-text"><a href="{{ path('instruction_results', {'instrsearch': {'lastmonths': 12, 'librarian': app.user.staffMember.id} }) }}">See List</a></p>
                                </div>
                                <div class="list-group-item">
                                    <h4 class="list-group-item-heading">Most Recent Session</h4>
                                    <p class="list-group-item-text">
                                        {% if most_recent_session.client is defined %}
                                        <a href="{{ path('individualinstruction_show', { 'id': most_recent_instruction.id }) }}" aria-label="show">{{most_recent_instruction.instructionDate|date('l n/j/y')}}</a>
                                        {% else %}
                                        <a href="{{ path('groupinstruction_show', { 'id': most_recent_instruction.id }) }}" aria-label="show">{{most_recent_instruction.instructionDate|date('l n/j/y')}}</a>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </article>
                        <article id="my-survey-statistics">
                            <h3>My Survey Statistics</h3>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <h4>Total Surveys</h4>
                                    <p class="text-center"><span class="lead">{{ survey_statistics['number_surveys'] }}</span></p>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <h4>Average Rating</h4>
                                    <p class="text-center"><span class="lead">{{ survey_statistics['average_score'] }}</span> / 5</p>
                                </div>
                            </div>
                            <p>To view surveys for an instruction session, click on the <span class="glyphicon glyphicon-stats"></span> icon in any instruction record row.</p>
                        </article>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <article id="all-insturction-statistics">
                            <h3>Everybody Else <span class="badge">{{group_statistics.allMonths}}</span></h3>
                            <div class="list-group">
                                <div class="list-group-item">
                                    <h4 class="list-group-item-heading">Last 3 Months <span class="badge">{{group_statistics.last3Months}}</h4>
                                    <p class="list-group-item-text"><a href="{{ path('instruction_results', {'instrsearch': {'lastmonths': 3} }) }}">See List</a></p>
                                </div>
                                <div class="list-group-item">
                                    <h4 class="list-group-item-heading">Last 6 Months <span class="badge">{{group_statistics.last6Months}}</h4>
                                    <p class="list-group-item-text"><a href="{{ path('instruction_results', {'instrsearch': {'lastmonths': 6} }) }}">See List</a></p>
                                </div>
                                <div class="list-group-item">
                                    <h4 class="list-group-item-heading">Last 9 Months <span class="badge">{{group_statistics.last9Months}}</h4>
                                    <p class="list-group-item-text"><a href="{{ path('instruction_results', {'instrsearch': {'lastmonths': 9} }) }}">See List</a></p>
                                </div>
                                <div class="list-group-item">
                                    <h4 class="list-group-item-heading">Last 12 Months <span class="badge">{{group_statistics.last12Months}}</h4>
                                    <p class="list-group-item-text"><a href="{{ path('instruction_results', {'instrsearch': {'lastmonths': 12} }) }}">See List</a></p>
                                </div>
                                <div class="list-group-item">
                                    <h4 class="list-group-item-heading">Yearly Group Instruction Reports</h4>
                                    <div class="well well-lg">
                                        <div class="row">
                                            {{ form_start(yearly_report_form) }}
                                            <div class="col-xs-12 col-sm-5">
                                                {{ form_row(yearly_report_form.yearType) }}
                                            </div>
                                            <div class="col-xs-12 col-sm-7">
                                                {{ form_row(yearly_report_form.year) }}
                                                {{ form_row(yearly_report_form.submit) }}
                                            </div>
                                            {{ form_end(yearly_report_form) }}
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>    
            </section>
        </div>
    </div>
{% endblock %}
{% block documentReady %} 
    
    initializeTablesort();
    
    //refresh the page with the new number of records per page
    $(document).on('change', '#paginationMaxResults', function(){
        var maxItems = $('#paginationMaxResults').find(":selected").val();
        var $currentTab = $('ul#instruction-filter-list').find('li.active > a');
        
        var filterType = $currentTab.attr('id'); //pass the type of filter based on the currently-selected tab
        
        getInstructionSessions(maxItems, filterType);
    });
    
    //Handle session filtering (all, group, individual)
    $(document).on('click', '.filter-sessions', function(e){
        e.preventDefault();
        
        var maxItems = $('#paginationMaxResults').find(":selected").val();
        var filterType = $(this).attr('id');
        
        getInstructionSessions(maxItems, filterType);
    });
    
    //AJAX Pagination using KNP Pagination
    $(document).on('click', 'ul.pagination a', function(e){
        e.preventDefault();
        
        var href = $(this).attr('href')
        var pattern = "page=";
        var pageNumber = href.substr(href.indexOf(pattern) + pattern.length, href.length); //get the page number only (e.g. page=2 becomes 2)

        var maxItems = $('#paginationMaxResults').find(":selected").val();
        var $currentTab = $('ul#instruction-filter-list').find('li.active > a');
        
        var filterType = $currentTab.attr('id'); //pass the type of filter based on the currently-selected tab
        
        getInstructionSessions(maxItems, filterType, pageNumber)
    });
    
    /**
     * Sends the filtered instruction sessions AJAX request to the server.
     * Refreshes the section#instruction-container
     *
     * @var int maxItems  How many items to show per page?
     * @var String filterType  'filter-all', 'filter-group', or 'filter-indivdual'
     * @var int pageNumber  The current pagination page (optional; will default to page 1 if no value passed)
     */
    function getInstructionSessions(maxItems, filterType, pageNumber){
        ajaxObject = {
            url: '{{ path('get_personalfilterinstructions') }}',
            data: {
                filter: filterType,
                maxItems: maxItems,
                page: pageNumber,
            },
            type: 'GET',
        };

        $.ajax(ajaxObject)
            .success(function(data,status,xhr) {
                $('#instruction-container').html(data);
                initializeTablesort();
            })
            .fail(function(data,status,xhr) {
                console.log("Failed to load instruction data!");
            })
            .always(function(data,status,xhr) {
                console.log("DONE!");
            });
    }
    
    //uses jQuery Tablesorter to sort columns for paginated results (http://tablesorter.com/)
    function initializeTablesort(){
        $('#jquerySortable_1').tablesorter({
            headers: {
                5: {
                    sorter: false
                },
                6: {
                    sorter: false
                }
            }
        });
    }
    
    //Statistics tab panels
    $('#statTabs a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    })
    {{ parent() }}
{% endblock %}