{% extends '::base.html.twig' %}
{% block title %}Instruction Session Search Results{% endblock %}
{% block body -%}
    
    <nav id="instruction-navigation" class="navbar">
        <ul class="nav navbar-nav nav-pills">
            <li role="presentation" class="active"><a href="{{ path('instruction') }}"><span class="glyphicon glyphicon-dashboard"></span> My Instruction Dashboard</a></li>
            <li role="presentation"><a href="{{ path('groupinstruction') }}">My Group Sessions</a></li>
            <li role="presentation"><a href="{{ path('individualinstruction') }}">My Individual Sessions</a></li>
        </ul>
        {% include 'AppBundle:Instruction:search.html.twig' %}
    </nav>
            
    {# Page Heading #}
    {% set headingvars = {'headingcontent' : 'Instruction Search Results', 'newbutton' : false } %}
    {% include 'snippets/pageHeading.html.twig' with headingvars %}
    <blockquote>
        <p>Note: You will only be shown editing and print options for your own instruction sessions.</p>
    </blockquote>
    <div class="row" id="search-filters">
        <div class="col-xs-12">
            <p><strong>Filters:</strong>
            {% if filters|length == 0 %}
                No Filters
            {% else %}
                {% for filter in filters %}
                    <span class="label label-default">{{ filter }}</span>
                {% endfor %}
            {% endif %}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <section id="instruction-container">
                <p><span class="badge">{{ pagination.getPaginationData.totalCount }}</span> Matching Sessions</p>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <table class="table table-responsive table-striped records_list" id="jquerySortable_1">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Start Time</th>
                                    <th>Librarian</th>
                                    <th>Course</th>
                                    <th>Level</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for entity in pagination %}
                                <tr>
                                    <td>{{ entity.instructionDate|date('n/j/y') }}</td>
                                    <td>{{ entity.startTime|date('g:i A') }}</td>
                                    <td>{{ entity.librarian.lastName }}, {{ entity.librarian.firstName }}</td>
                                    <td>{{ entity.course }}</td>
                                    <td>
                                        {% if entity.level == 'grad' %}
                                            Graduate 
                                        {% elseif entity.level == 'high school' %}
                                            High School
                                        {% else %}
                                            {{ entity.level|capitalize }}
                                        {% endif %}
                                        {% if entity.levelDescription %}
                                            ({{ entity.levelDescription}})
                                        {% endif %}
                                    </td>    
                                    <td>
                                        {# these entities could be GROUP or INSTRUCTION, so figure out which before creating edit buttons #}
                                        {% if entity.librarian == app.user.staffMember %}
                                            {% if entity.client is defined %}
                                            <a class="badge" href="{{ path('individualinstruction_edit', { 'id': entity.id }) }}" aria-label="edit"><span class="glyphicon glyphicon-pencil"></span></a>
                                            <a class="badge" href="{{ path('individualinstruction_print', { 'id': entity.id }) }}" target="_blank" aria-label="print"><span class="glyphicon glyphicon-print"></span></a>
                                            {% else %}
                                            <a class="badge" href="{{ path('groupinstruction_edit', { 'id': entity.id }) }}" aria-label="edit"><span class="glyphicon glyphicon-pencil"></span></a>
                                            <a class="badge" href="{{ path('groupinstruction_print', { 'id': entity.id }) }}" target="_blank" aria-label="print"><span class="glyphicon glyphicon-print"></span></a>
                                            {% endif %}
                                        {% endif %}
                                    </td>

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        <p>Page {{ pagination.getPaginationData.current }} of {{ pagination.getPaginationData.pageCount }}</p>
                        {% include 'AppBundle:Pagination:paginator.html.twig' %}
                    </div>
                </div>
            </section>
        </div>
    </div>
            {#
            <div class="row">
                <div class="col-xs-5">
                 
                {{dump(requestData)}}
                </div>
            </div>
            #}
{% endblock %}
{% block documentReady %} 
    
    //uses jQuery Tablesorter to sort columns for paginated results (http://tablesorter.com/)
    $('#jquerySortable_1').tablesorter({
        headers: {
            1: {
                dateFormat : "mmddyy", // set the default date format,
            },
            5: {
                sorter: false
            }
        },
    });
    
    $('.instruction-search-container').on('click', function(e){
        e.stopPropagation();
    });
    
    $('#instruction-filter-tabs a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    });
    $('#myTabs a[href="#searchbox-all-tabpane"]').tab('show') // Select tab by name
    $('#myTabs a[href="#searchbox-group-tabpane"]').tab('show') // Select tab by name
    $('#myTabs a[href="#searchbox-individual-tabpane"]').tab('show'); // Select tab by name
    
    {{ parent() }}
{% endblock %}