{% extends '::base.html.twig' %}
{% block title %}Instruction Session Search Results{% endblock %}
{% block body -%}
    
    <nav id="instruction-navigation" class="navbar">
        <ul class="nav navbar-nav nav-pills">
            <li role="presentation" class="active"><a href="{{ path('instruction') }}"><span class="glyphicon glyphicon-dashboard"></span> My Instruction Dashboard</a></li>
            <li role="presentation"><a href="{{ path('groupinstruction') }}">My Group Sessions</a></li>
            <li role="presentation"><a href="{{ path('individualinstruction') }}">My Individual Sessions</a></li>
        </ul>
        {% include 'AppBundle:Instruction:search.html.twig' %}
    </nav>
            
    {# Page Heading #}
    {% set headingvars = {'headingcontent' : 'Instruction Search Results', 'newbutton' : false } %}
    {% include 'snippets/pageHeading.html.twig' with headingvars %}
    <div class="row" id="search-filters">
        <div class="col-xs-12">
            <p><strong>Filters:</strong>
            {% if filters|length == 0 %}
                No Filters
            {% else %}
                {% for filter in filters %}
                    <span class="label label-default">{{ filter }}</span>
                {% endfor %}
            {% endif %}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <section id="instruction-container">
                {% include 'AppBundle:Instruction:snippets/table.html.twig' %}
            </section>
        </div>
    </div>
            {#
            <div class="row">
                <div class="col-xs-5">
                 
                {{dump(requestData)}}
                </div>
            </div>
            #}
{% endblock %}
{% block documentReady %} 
    
    //uses jQuery Tablesorter to sort columns for paginated results (http://tablesorter.com/)
    $('#jquerySortable_1').tablesorter({
        headers: {
            5: {
                sorter: false
            },
            6: {
                sorter: false
            }
        }
    });
    
    $('.instruction-search-container').on('click', function(e){
        e.stopPropagation();
    });
    
    $('#instruction-filter-tabs a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    });
    $('#myTabs a[href="#searchbox-all-tabpane"]').tab('show') // Select tab by name
    $('#myTabs a[href="#searchbox-group-tabpane"]').tab('show') // Select tab by name
    $('#myTabs a[href="#searchbox-individual-tabpane"]').tab('show'); // Select tab by name
    
    {{ parent() }}
{% endblock %}