{% set paginationPath = 'instruction' %}        
        <div class="dropdown" id="new-instruction-dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Add Instruction
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="newInstructionDropdown">
              <li><a href="{{ path('groupinstruction_new') }}">Group</a></li>
              <li><a href="{{ path('individualinstruction_new') }}">Individual</a></li>
            </ul>
        </div>
        <ul class="nav nav-tabs nav-justified" id="instruction-filter-list">
            <li role="presentation" class="{% if filter == 'filter-all' %}active{% endif %}"><a href="#" id="filter-all" class="filter-sessions">All</a></li>
            <li role="presentation" class="{% if filter == 'filter-group' %}active{% endif %}"><a href="#" id="filter-group" class="filter-sessions">Group Only</a></li>
            <li role="presentation" class="{% if filter == 'filter-individual' %}active{% endif %}"><a href="#" id="filter-individual" class="filter-sessions">Individual Only</a></li>
        </ul>
        <p class="badge">{{ pagination.getPaginationData.totalCount }} Sessions</p>
        <p>Page {{ pagination.getPaginationData.current }} of {{ pagination.getPaginationData.pageCount }}</p>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <table class="table table-responsive table-striped records_list" id="jquerySortable_1">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Start Time</th>
                            <th>Course</th>
                            <th>Level</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for entity in pagination %}
                        <tr>
                            <td>{{ entity.instructionDate|date('n/j/y') }}</td>
                            <td>{{ entity.startTime|date('g:i A') }}</td>
                            <td>{{ entity.course }}</td>
                            <td>
                                {% if entity.level == 'grad' %}
                                    Graduate 
                                {% elseif entity.level == 'high school' %}
                                    High School
                                {% else %}
                                    {{ entity.level|capitalize }}
                                {% endif %}
                                {% if entity.levelDescription %}
                                    ({{ entity.levelDescription}})
                                {% endif %}
                            </td>    
                            <td>
                                {# these entities could be GROUP or INSTRUCTION, so figure out which before creating edit buttons #}
                                {% if entity.client is defined %}
                                <a class="badge" href="{{ path('individualinstruction_edit', { 'id': entity.id }) }}" aria-label="edit"><span class="glyphicon glyphicon-pencil"></span></a>
                                <a class="badge" href="{{ path('individualinstruction_print', { 'id': entity.id }) }}" target="_blank" aria-label="print"><span class="glyphicon glyphicon-print"></span></a>
                                {% else %}
                                <a class="badge" href="{{ path('groupinstruction_edit', { 'id': entity.id }) }}" aria-label="edit"><span class="glyphicon glyphicon-pencil"></span></a>
                                <a class="badge" href="{{ path('groupinstruction_print', { 'id': entity.id }) }}" target="_blank" aria-label="print"><span class="glyphicon glyphicon-print"></span></a>
                                {% endif %}
                            </td>
                            
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <p>Page {{ pagination.getPaginationData.current }} of {{ pagination.getPaginationData.pageCount }}</p>
                {% include 'AppBundle:Pagination:paginator.html.twig' %}
            </div>
        </div>