{% extends '::base.html.twig' %}
{% block title %}Patron Feedback Type{% endblock %}
{% block body -%}
    <ul class="nav nav-pills">
        <li role="presentation"><a href="{{ path('feedback') }}"><span class="glyphicon glyphicon-comment"></span> Feedback</a></li>
        <li role="presentation"><a href="{{ path('feedbackarea') }}"><span class="glyphicon glyphicon-th"></span> Areas</a></li>
        <li role="presentation" class="active"><a href="{{ path('feedbackcategory') }}"><span class="glyphicon glyphicon-tasks"></span> Types</a></li>
    </ul>
    <h1 class="page-header">Feedback Types <span><a class="btn btn-sm btn-primary" href="{{ path('feedbackcategory_new') }}" role="button" aria-label="Add a new feedback category"><span class="glyphicon glyphicon-plus"></span> New Category</a></span></h1> 
    <blockquote>
        <p>Feedback types are displayed to the patron on the website. Types should represent the topic of the feedback such as "Compliment" or "Complaint".</p>
    </blockquote>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <table class="table table-responsive table-striped records_list">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity.name }}</td>  
                        <td>
                            {% if is_granted('ROLE_FEEDBACK_EDIT', entity) %}
                                <a class="badge" href="{{ path('feedbackcategory_edit', { 'id': entity.id }) }}" aria-label="edit"><span class="glyphicon glyphicon-pencil"></span></a>
                                <a class="badge" href="{{ path('feedbackcategory_print', { 'id': entity.id }) }}" target="_blank" aria-label="print"><span class="glyphicon glyphicon-print"></span></a>
                            {% elseif is_granted('ROLE_FEEDBACK_VIEW', entity) %}
                                <a class="badge" href="{{ path('feedbackcategory_show', { 'id': entity.id }) }}" aria-label="show"><span class="glyphicon glyphicon-eye-open"></span></a>
                                <a class="badge" href="{{ path('feedbackcategory_print', { 'id': entity.id }) }}" target="_blank" aria-label="print"><span class="glyphicon glyphicon-print"></span></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endblock %}
