{% extends '::base.html.twig' %}
{% block title %}Patron Feedback Type{% endblock %}
{% block body %}  
<h1 class="page-header">Feedback Type: {{entity.name}}</h1>    
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <p><a class="btn btn-sm btn-primary" href="{{ path('feedbackcategory') }}" aria-label="Back to Feedback Type List"><span class="glyphicon glyphicon-arrow-left"></span></a></p>
        </div>
        <div class="col-xs-12 col-sm-8 text-right" role="toolbar" aria-label="options-toolbar">
            <p>
                {% if is_granted('ROLE_FEEDBACK_EDIT', entity) %}
                <a class="btn btn-sm btn-default" href="{{ path('feedbackcategory_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-pencil"></span></a>
                {% endif %}
                <a class="btn btn-sm btn-default" target="_blank" href="{{ path('feedbackcategory_print', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-print"></span></a>
            </p>
        </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6">
          <table class="table table-responsive table-striped">
              <caption>Type Information</caption>
              <tbody>
                  <tr>
                      <td><strong>Type</strong></td>
                      <td>{{entity.name}}</td>
                  </tr>
              </tbody>
            </table>
      </div>
    </div>
{% endblock %}
