{% extends '::base.html.twig' %}

{% block body -%}
    <h1>AvRequest edit</h1>
    <ul>
      {{dump(entity)}}
    {% for event in entity.event %}
      <li>{{event.location}}</li>
    {% endfor %}
    </ul>
    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('avrequests') }}">
            Back to the list
        </a>
    </li>
    
    {% if is_granted('ROLE_AV_DELETE', entity) %}
        <li>{{ form(delete_form) }}</li>
    {% endif %}
</ul>
{% endblock %}
