{% extends '::base.html.twig' %}

{% block body -%}
    <h1 class="page-header">AvRequest list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Events</th>
                <th>Requestdate</th>
                <th>Deliverdate</th>
                <th>Returndate</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Contentchangedby</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('avrequest_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>

                <td>{% if entity.requestDate %}{{ entity.requestDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.deliverDate %}{{ entity.deliverDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.returnDate %}{{ entity.returnDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.updated %}{{ entity.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.contentChangedBy }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('avrequest_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('avrequest_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
