{% extends '::base.html.twig' %}
{% block title %}AV Requests{% endblock %}
{% block body %}
    <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="{{ path('avrequests') }}"><span class="glyphicon glyphicon-th-list"></span> AV Requests</a></li>
        <li role="presentation"><a href="{{ path('avrequest_equipment') }}"><span class="glyphicon glyphicon-blackboard"></span> Equipment</a></li>
        <li role="presentation"><a href="{{ path('avrequeststatus') }}"><span class="glyphicon glyphicon-check"></span> Statuses</a></li>
    </ul>
    
    {# Page Heading #}
    {% set headingvars = {'headingcontent' : 'Audio/Visual Requests' } %}
    {% include 'snippets/pageHeading.html.twig' with headingvars %}
    
    <p class="badge">{{ pagination.getPaginationData.totalCount }} Total Requests</p>
    <p>Page {{pagination.getPaginationData.current}} of {{pagination.getPaginationData.pageCount}}</p>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-9">
            <table class="table table-responsive table-striped tablesorter" id="jquerySortable_1">
                <thead>
                    <tr>
                    {# sorting uses jQuery Sortable instead of KNP Pagination because KNP sorts all records, not just the ones on the current page #}
                        <th>Event Date</th>
                        <th>Pickup</th>
                        <th>Return</th>
                        <th>Faculty</th>
                        <th>Status</th>
                        <th>Status Email</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in pagination %}
                    <tr {% if loop.index is odd %}class="color"{% endif %}>
                        <td>{% if entity.eventDate %}{{ entity.eventDate|date('n/j/y') }}{% endif %}</td>
                        <td>{% if entity.pickupDate %}{{ entity.pickupDate|date('n/j/y g:i A') }}{% endif %}</td>
                        <td>{% if entity.returnDate %}{{ entity.returnDate|date('n/j/y g:i A') }}{% endif %}</td>
                        <td>
                            {% if entity.facultyFirstName %}{{ entity.facultyFirstName }}{% endif %}
                            {% if entity.facultyLastName %}{{ entity.facultyLastName }}{% endif %}
                        </td>
                        <td>{% if entity.status %}{{ entity.status }}{% endif %}</td>
                        <td>{% if entity.replyDate is not null %}<span class="glyphicon glyphicon-ok-sign text-success"></span>{% endif %}</td>
                        <td>
                            {% if is_granted('ROLE_AV_EDIT', entity) %}
                                <a class="badge" href="{{ path('avrequest_edit', { 'id': entity.id }) }}" aria-label="edit"><span class="glyphicon glyphicon-pencil"></span></a>
                                <a class="badge" href="{{ path('avrequest_print', { 'id': entity.id }) }}" target="_blank" aria-label="print"><span class="glyphicon glyphicon-print"></span></a>
                            {% elseif is_granted('ROLE_AV_VIEW', entity) %}
                                <a class="badge" href="{{ path('avrequest_show', { 'id': entity.id }) }}" aria-label="show"><span class="glyphicon glyphicon-eye-open"></span></a>
                                <a class="badge" href="{{ path('avrequest_print', { 'id': entity.id }) }}" target="_blank" aria-label="print"><span class="glyphicon glyphicon-print"></span></a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <p>Page {{pagination.getPaginationData.current}} of {{pagination.getPaginationData.pageCount}}</p>
    {{ include('AppBundle:Pagination:paginator.html.twig') }}
{% endblock %}
{% block documentReady %} 
    //uses jQuery Tablesorter to sort columns for paginated results (http://tablesorter.com/)
    $('#jquerySortable_1').tablesorter({
        headers: {
            5: {
                sorter: false
            },
            6: {
                sorter: false
            }
        }
    });
    
    //refresh the page with the new number of records per page
    $('#paginationMaxResults').on('change', function(){
        var item = $(this).find(":selected").val();
        var url = '{{path('avrequests', {'maxItems': '_item'})}}';
        
        window.location.href = url.replace('_item',item );
    });
{% endblock %}