{% extends '::base.html.twig' %}

{% block body %}
    {# Page Heading #}
    {% set headingvars = {'headingcontent' : 'New AV Request' } %}
    {% include 'snippets/pageHeading.html.twig' with headingvars %}
    
    {# Back button #}
    {% set vars = {'basepath' : path('avrequests')} %}
    {% include 'snippets/newToolbar.html.twig' with vars %}

    {{ form_start(form) }}
      <fieldset>
        <legend>Events</legend>
        {{ form_label(form.event) }}
        <ul class="events" data-prototype="{{ form_widget(form.event.vars.prototype)|e }}">
        </ul>
      </fieldset>
      <fieldset>
        <legend>Equipment</legend>
        {{ form_label(form.equipment) }}
        <ul class="equipment" data-prototype="{{ form_widget(form.equipment.vars.prototype)|e }}">
        </ul>
      </fieldset>
    {{ form_end(form) }}

{% endblock %}
{% block documentReady %}
  
/////////// EVENTS /////////////
/* TUTORIAL HERE: http://symfony.com/doc/2.7/cookbook/form/form_collections.html */
  var $eventsHolder;
  var $addEventLink = $('<a href="#" class="add_event_link">Add Event</a>');
  var $newLinkLi = $('<li></li>').append($addEventLink);
  
  $eventsHolder = $('ul.events');
  $eventsHolder.append($newLinkLi);

  /*
    count the current form inputs we have (e.g. 2), use that as the new
    index when inserting a new item (e.g. 2)
  */
  $eventsHolder.data('index', $eventsHolder.find(':input').length);
  
  //add a new event form on page load
  addEventForm($eventsHolder, $newLinkLi);
  
  $addEventLink.on('click', function(event){
    event.preventDefault();
    
    //add a new event form
    addEventForm($eventsHolder, $newLinkLi);
  });
  
  function addEventForm($eventsHolder, $newLinkLi) {
      // Get the data-prototype explained earlier
      var prototype = $eventsHolder.data('prototype');

      // get the new index
      var index = $eventsHolder.data('index');

      // Replace '__name__' in the prototype's HTML to
      // instead be a number based on how many items we have
      var newForm = prototype.replace(/__name__/g, index);

      // increase the index with one for the next item
      $eventsHolder.data('index', index + 1);

      // Display the form in the page in an li, before the "Add a tag" link li
      var $newFormLi = $('<li></li>').append(newForm);
      $newLinkLi.before($newFormLi);
  }
  
/////////// EQUIPMENT /////////////
  var $equipmentHolder;
  var $addEquipmentLink = $('<a href="#" class="add_equipment_link">Add Equipment</a>');
  var $newEqLinkLi = $('<li></li>').append($addEquipmentLink);
  
  $equipmentHolder = $('ul.equipment');
  $equipmentHolder.append($newEqLinkLi);

  /*
    count the current form inputs we have (e.g. 2), use that as the new
    index when inserting a new item (e.g. 2)
  */
  $equipmentHolder.data('index', $equipmentHolder.find(':input').length);
  
  //add a new equipment form on page load
  addEquipmentForm($equipmentHolder, $newEqLinkLi);
  
  $addEquipmentLink.on('click', function(event){
    event.preventDefault();
    
    //add a new event form
    addEquipmentForm($equipmentHolder, $newEqLinkLi);
  });
  
  function addEquipmentForm($equipmentHolder, $newEqLinkLi) {
      // Get the data-prototype code
      var prototype = $equipmentHolder.data('prototype');

      // get the new index
      var index = $equipmentHolder.data('index');

      // Replace '__name__' in the prototype's HTML to
      // instead be a number based on how many items we have
      var newEqForm = prototype.replace(/__name__/g, index);

      // increase the index with one for the next item
      $equipmentHolder.data('index', index + 1);

      // Display the form in the page in an li, before the "Add a tag" link li
      var $newEqFormLi = $('<li></li>').append(newEqForm);
      $newEqLinkLi.before($newEqFormLi);
  }
  {{ parent() }}
{% endblock %}
