<p><span class="badge">{{ pagination.getPaginationData.totalCount }}</span> Surveys | <span class="badge">{{ average_survey_rating }}</span> Average Rating</p>
<p>Page {{ pagination.getPaginationData.current }} of {{ pagination.getPaginationData.pageCount }}</p>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <table class="table table-responsive table-striped records_list" id="jquerySortable_1">
            <thead>
                <tr>
                    <th>Date Taken</th>
                    <th>Average Rating <br><small>out of 5</small></th>
                    <th>Student <br><small>if specified</small></th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in pagination %}
                {% set averageRating = (entity.questionLearnedSomething + entity.questionSkillsImproved + entity.questionRelevantSession + entity.questionKnowledgableSpeaker + entity.questionClearlyExplained)/5 %}
                <tr>
                    <td>{{ entity.created|date('n/j/y') }}</td>
                    <td>{{ averageRating }}</td>
                    <td>{{ entity.studentFirstName }} {{ entity.studentLastName }}</td>
                    <td>
                        <a class="badge" href="{{ path('instructionsurvey_show', { 'id': entity.id }) }}" aria-label="edit" title="View Survey"><span class="glyphicon glyphicon-eye-open"></span></a>
                        <a class="badge" href="{{ path('instructionsurvey_print', { 'id': entity.id }) }}" target="_blank" aria-label="surveys" title="Print Surveys"><span class="glyphicon glyphicon-print"></span></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <p>Page {{ pagination.getPaginationData.current }} of {{ pagination.getPaginationData.pageCount }}</p>
        {% include 'AppBundle:Pagination:paginator.html.twig' %}
    </div>
</div>