{% extends '::base.html.twig' %}

{% block body -%}
    <h1 class="page-header">Edit Liaison Subject</h1>
    <div class="row">
      <div class="col-xs-12">
        <p><a class="btn btn-sm btn-primary" href="{{ path('liaisonsubject') }}"><span class="glyphicon glyphicon-arrow-left"></span> Back to Liaison Subject List</a></p>
      </div>
    </div>
    {{ form(edit_form) }}

        <ul class="record_actions">
            <li>{{ form(delete_form) }}</li>
        </ul>
{% endblock %}
{% block documentReady %}
  //dynamically update the subject's level (lvl) each time a new parent subject is picked
  $('#appbundle_liaisonsubject_parent').on('change', function(event){
    var parentId = $(this).val();
    var url = "{{ path('liaisonsubject_parentlvl', {'id': 'replace'}) }}";
    url = url.replace("replace", parentId); //twig runs before javascipt so the ID must be inserted after
    
    var ajaxObject = {
          type: 'GET',
          dataType: 'text', //expect plain text from the server
          url: url
        };
        
        $.ajax(ajaxObject)
          .success(function(data,status,xhr){
            //'data' is the integer id of the parent's 'lvl' field
            $('#appbundle_liaisonsubject_lvl').val(parseInt(data)+1);
          })
          .fail(function(data,status,xhr){
            //the --Choose parent-- option won't have an id and will return a 404. In that case, set the value of the 'lvl' field to 0
            $('#appbundle_liaisonsubject_lvl').val(0);
          })
          .always(function(data,status,xhr){console.log(status);});
  });
  {{ parent() }}
{% endblock %}
