{% extends '::base.html.twig' %}
{% block title %}Library Hours: Special Events{% endblock %}
{% block body -%}    
    <h1 class="page-header">Event: {{entity.name}}</h1>
    <div class="row">
      <div class="col-xs-12">
        <p><a class="btn btn-sm btn-primary" href="{{ path('hoursevent') }}"><span class="glyphicon glyphicon-arrow-left"></span> Back to Events List</a></p>
      </div>
    </div>
    {% if is_granted('ROLE_HOURS_EDIT', entity) %}
    <div class="row">
        <div class="col-xs-12">
            <p><a class="badge" href="{{ path('hoursevent_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-pencil"></span> Edit Event</a></p>
        </div>
    </div>
    {% endif %}
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <table class="table table-responsive table-striped">
            <tbody>
                <tr><th>Event</th><td>{{entity.name}}</td></tr>
                <tr><th>Start</th><td>{{entity.startDate|date('m/d/Y')}}</td></tr>
                <tr><th>End</th><td>{{entity.endDate|date('m/d/Y')}}</td></tr>
            </tbody>
        </table>
      </div>
    </div>
{% endblock %}
