{% extends '::base.html.twig' %}
{% block title %}Annual Report Editor{% endblock %}
{% block body -%}
    
    {# Page Heading #}
    {% set headingvars = {'headingcontent' : 'Edit ' ~ entity.unit.name ~ ' ' ~ entity.year ~ '-' ~ (entity.year + 1) ~ ' Annual Report' } %}
    {% include 'snippets/pageHeading.html.twig' with headingvars %}
    
    {# Back button and print button #}
    {% set toolbarvars = {'basepath' : path('annualreportunit_edit', {'id': entity.unit.id} ), 'printpath' : path('annualreport_print', { 'id': entity.id }) } %}
    {% include 'snippets/editToolbar.html.twig' with toolbarvars %}
    
    {% for flash_message in app.session.flashBag.get('reportexists') %}
        <div class="flash-notice alert alert-warning">
            <p>{{ flash_message }}</p>
        </div>
    {% endfor %}
    
    {{ form_start(edit_form) }}
    <section id="annual-report-staffing">
        <h2>Staffing Information</h2>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h3>Tenure-Track Librarians</h3>
                <ul class="stafftenured_collection staffing-list" data-prototype="
                    {% filter escape %}
                        {{ include('AppBundle:AnnualReport:snippets/staffing-prototype.html.twig', { 'form': edit_form.staffingTenured.vars.prototype }) }} 
                    {% endfilter %}
                    ">
                    {% for staffTenure in entity.staffingTenured if staffTenure %}
                        {{ include('AppBundle:AnnualReport:snippets/edit-staffing.html.twig', { 'entity': staffTenure, 'type': 'staffingTenured', 'index': loop.index0 }) }}
                    {% endfor %}
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6">
                <h3>Librarian Lecturers</h3>
                <ul class="stafflecturers_collection staffing-list" data-prototype="
                    {% filter escape %}
                        {{ include('AppBundle:AnnualReport:snippets/staffing-prototype.html.twig', { 'form': edit_form.staffingLecturers.vars.prototype }) }} 
                    {% endfilter %}
                    ">
                    {% for staffLecturer in entity.staffingLecturers if staffLecturer %}
                        {{ include('AppBundle:AnnualReport:snippets/edit-staffing.html.twig', { 'entity': staffLecturer, 'type': 'staffingLecturers', 'index': loop.index0 }) }}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h3>Clerical Staff</h3>
                <ul class="staffclerical_collection staffing-list" data-prototype="
                    {% filter escape %}
                        {{ include('AppBundle:AnnualReport:snippets/staffing-prototype.html.twig', { 'form': edit_form.staffingClerical.vars.prototype }) }} 
                    {% endfilter %}
                    ">
                    {% for staffClerical in entity.staffingClerical if staffClerical %}
                        {{ include('AppBundle:AnnualReport:snippets/edit-staffing.html.twig', { 'entity': staffClerical, 'type': 'staffingClerical', 'index': loop.index0 }) }}
                    {% endfor %}
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6">
                <h3>Other Employees (PTs or Students)</h3>
                <ul class="staffother_collection staffing-list" data-prototype="
                    {% filter escape %}
                        {{ include('AppBundle:AnnualReport:snippets/staffing-prototype.html.twig', { 'form': edit_form.staffingOther.vars.prototype }) }} 
                    {% endfilter %}
                    ">
                    {% for staffOther in entity.staffingOther if staffOther %}
                        {{ include('AppBundle:AnnualReport:snippets/edit-staffing.html.twig', { 'entity': staffOther, 'type': 'staffingOther', 'index': loop.index0 }) }}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
    <hr>
    <section id="annual-report-categories">
        <header>
            <h2>Annual Report Categories</h2>
        </header>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <h3>1. Core Services/Responsibilities</h3>
                <small>List this unit's core services and responsibilities (even if they have not changed since last year).</small>
                <ul class="detailcore_collection detail-list" data-prototype="
                    {% filter escape %}
                        {{ include('AppBundle:AnnualReport:snippets/detail-prototype.html.twig', { 'form': edit_form.detailCore.vars.prototype }) }} 
                    {% endfilter %}
                    ">
                    {% for detCore in entity.detailCore if detCore %}
                        {{ include('AppBundle:AnnualReport:snippets/edit-detail.html.twig', { 'entity': detCore, 'type': 'detailCore', 'index': loop.index0 }) }}
                    {% endfor %}
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <h3>2. Progress on Goals</h3>
                <small>List and describe progress on unit goals and objectives for the academic year, refering to data/measurement/assessment results as appropriate.</small>
                <ul class="detailprogress_collection detail-list" data-prototype="
                    {% filter escape %}
                        {{ include('AppBundle:AnnualReport:snippets/detail-prototype.html.twig', { 'form': edit_form.detailProgress.vars.prototype }) }} 
                    {% endfilter %}
                    ">
                    {% for detProgress in entity.detailProgress if detProgress %}
                        {{ include('AppBundle:AnnualReport:snippets/edit-detail.html.twig', { 'entity': detProgress, 'type': 'detailProgress', 'index': loop.index0 }) }}
                    {% endfor %}
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <h3>3. Non-Core Initiatives</h3>
                <small>List and describe unit's activities (as distinct from core services) and initiatives for the academic year.</small>
                <ul class="detailinitiatives_collection detail-list" data-prototype="
                    {% filter escape %}
                        {{ include('AppBundle:AnnualReport:snippets/detail-prototype.html.twig', { 'form': edit_form.detailInitiatives.vars.prototype }) }} 
                    {% endfilter %}
                    ">
                    {% for detInitiatives in entity.detailInitiatives if detInitiatives %}
                        {{ include('AppBundle:AnnualReport:snippets/edit-detail.html.twig', { 'entity': detInitiatives, 'type': 'detailInitiatives', 'index': loop.index0 }) }}
                    {% endfor %}
                </ul>
            </div>
        </div> 
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <h3>4. Noteworthy Accomplishments</h3>
                <small>Summarize noteworthy accomplishments of the unit's staff for the year that are not already listed above.</small>
                <ul class="detailaccomplishments_collection detail-list" data-prototype="
                    {% filter escape %}
                        {{ include('AppBundle:AnnualReport:snippets/detail-prototype.html.twig', { 'form': edit_form.detailAccomplishments.vars.prototype }) }} 
                    {% endfilter %}
                    ">
                    {% for detAccomplishments in entity.detailAccomplishments if detAccomplishments %}
                        {{ include('AppBundle:AnnualReport:snippets/edit-detail.html.twig', { 'entity': detAccomplishments, 'type': 'detailAccomplishments', 'index': loop.index0 }) }}
                    {% endfor %}
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <h3>5. Changes for Next Year</h3>
                <small>Briefly describe any significant changes, opportunities or challenges (either internal or external) that your unit will need to address in the coming year.</small>
                <ul class="detailchanges_collection detail-list" data-prototype="
                    {% filter escape %}
                        {{ include('AppBundle:AnnualReport:snippets/detail-prototype.html.twig', { 'form': edit_form.detailChanges.vars.prototype }) }} 
                    {% endfilter %}
                    ">
                    {% for detChanges in entity.detailChanges if detChanges %}
                        {{ include('AppBundle:AnnualReport:snippets/edit-detail.html.twig', { 'entity': detChanges, 'type': 'detailChanges', 'index': loop.index0 }) }}
                    {% endfor %}
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <h3>6. Objectives for Next Year</h3>
                <small>What specific objectives does the unit expect to accomplish during the next academic year? How will you measure your success?</small>
                <ul class="detailobjectives_collection detail-list" data-prototype="
                    {% filter escape %}
                        {{ include('AppBundle:AnnualReport:snippets/detail-prototype.html.twig', { 'form': edit_form.detailObjectives.vars.prototype }) }} 
                    {% endfilter %}
                    ">
                    {% for detObjectives in entity.detailObjectives if detObjectives %}
                        {{ include('AppBundle:AnnualReport:snippets/edit-detail.html.twig', { 'entity': detObjectives, 'type': 'detailObjectives', 'index': loop.index0 }) }}
                    {% endfor %}
                </ul>
            </div>
        </div> 
    </section>
    <hr>    
    <section id="annual-report-documents">
        <h2>Documents</h2>
        {#
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="table-responsive">
                    <table class="table table-striped documents_collection"  id="jquerySortable_1" data-prototype="
                        {# The AnnualReportDocument form prototype does NOT include fields for file or subdirectory, 
                           so this snippet was made with those extra fields modeled after the 'name' text field }
                        {% filter escape %}
                            {{ include('AppBundle:AnnualReport:snippets/documentform.html.twig') }} 
                        {% endfilter %}
                        ">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Delete on Update</th>
                            </tr>
                        </thead>
                        <tbody id="document_rows">
                            {% if entity.documents|length > 0 %}
                                {% for document in entity.documents if document %}
                                    <tr>
                                        <td><a href="{{ asset('uploads/annualreport/' ~ document.path) }}" aria-label="show document">{{ document.name }}</a></td>
                                        <td>
                                            {% set imagePath = document.path|split('.') %}
                                            {% if imagePath|length > 1 %}
                                                {% set imagePath = imagePath[1] %}
                                            {% else %}
                                                {% set imagePath = '' %}
                                            {% endif %}
                                            {{ imagePath }}
                                        </td>
                                        <td>
                                            <input type="checkbox" name="delete_document[{{ document.id }}]" value="{{ document.id }}" />
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr><td colspan="3">There are no files associated with this report.</td></tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div> 
            </div>
        </div>
        #}
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6">
                <ul class="documents_collection document-list list-group" data-prototype="
                        {# The AnnualReportDocument form prototype does NOT include fields for file or subdirectory, 
                           so this snippet was made with those extra fields modeled after the 'name' text field #}
                        {% filter escape %}
                            {{ include('AppBundle:AnnualReport:snippets/document-prototype.html.twig') }} 
                        {% endfilter %}
                        ">
                    {% for document in entity.documents if document %}
                        {{ include('AppBundle:AnnualReport:snippets/edit-document.html.twig', { 'entity': document, 'index': loop.index0 }) }}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
    <hr>
    <div class="row">
        <div class="col-xs-6">
            {{ form_row(edit_form.isFinal) }}
        </div>
        <div class="col-xs-6 text-right">
                {{ form_row(edit_form.year) }}
                {{ form_row(edit_form.unit) }}
                {{ form_row(edit_form._token) }}
                {{ form_row(edit_form.submit) }}
            {{ form_end(edit_form, {'render_rest': false}) }}
            {% if is_granted('ROLE_ANNUALREPORT_DELETE') %}
            {{ form(delete_form) }}
            {% endif %} 
        </div>
    </div>
{% endblock %}
{% block documentReady %} 
   //JS file located in Resources/public/js/annualreport.js
   
   //uses jQuery Tablesorter to sort columns for paginated results (http://tablesorter.com/)
    $('#jquerySortable_1').tablesorter({
        headers: {
            2: {
                sorter: false
            },
        }
    });
{% endblock %}
