{% extends '::base.html.twig' %}
{% block title %}New Annual Report{% endblock %}
{% block body -%}
    {# Page Heading #}
    {% set headingvars = {'headingcontent' : entity.unit.name ~ ' Annual Report for ' ~ entity.year ~ '-' ~ (entity.year + 1)  } %}
    {% include 'snippets/pageHeading.html.twig' with headingvars %}
    
    {# Back button #}
    {% set vars = {'basepath' : path('annualreportunit_edit', {'id': entity.unit.id })} %}
    {% include 'snippets/newToolbar.html.twig' with vars %}
    
    <blockquote>
        <p>Use the Annual Report Builder interface to create a new report for this unit. Once created, this report will be saved as a <mark>draft</mark>. An annual report can only be marked as <span class="text-success">final</span> in the editor.</p>
    </blockquote>

    {{ form_start(form) }}
    <section id="annual-report-staffing">
        <h2>Staffing Information</h2>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h3>Tenure-Track Librarians</h3>
                <ul class="stafftenured_collection staffing-list" data-prototype="
                    {% filter escape %}
                        {{ include('AppBundle:AnnualReport:snippets/staffing-prototype.html.twig', { 'form': form.staffingTenured.vars.prototype }) }} 
                    {% endfilter %}
                    ">
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6">
                <h3>Librarian Lecturers</h3>
                <ul class="stafflecturers_collection staffing-list" data-prototype="
                    {% filter escape %}
                        {{ include('AppBundle:AnnualReport:snippets/staffing-prototype.html.twig', { 'form': form.staffingLecturers.vars.prototype }) }} 
                    {% endfilter %}
                    ">
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h3>Clerical Staff</h3>
                <ul class="staffclerical_collection staffing-list" data-prototype="
                    {% filter escape %}
                        {{ include('AppBundle:AnnualReport:snippets/staffing-prototype.html.twig', { 'form': form.staffingClerical.vars.prototype }) }} 
                    {% endfilter %}
                    ">
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6">
                <h3>Other Employees (PTs or Students)</h3>
                <ul class="staffother_collection staffing-list" data-prototype="
                    {% filter escape %}
                        {{ include('AppBundle:AnnualReport:snippets/staffing-prototype.html.twig', { 'form': form.staffingOther.vars.prototype }) }} 
                    {% endfilter %}
                    ">
                </ul>
            </div>
        </div>
    </section>
    <hr>
    <section id="annual-report-categories">
        <header>
            <h2>Annual Report Categories</h2>
        </header>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <h3>1. Core Services/Responsibilities</h3>
                <small>List this unit's core services and responsibilities (even if they have not changed since last year).</small>
                <ul class="detailcore_collection detail-list" data-prototype="
                    {% filter escape %}
                        {{ include('AppBundle:AnnualReport:snippets/detail-prototype.html.twig', { 'form': form.detailCore.vars.prototype }) }} 
                    {% endfilter %}
                    ">
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <h3>2. Progress on Goals</h3>
                <small>List and describe progress on unit goals and objectives for the academic year, refering to data/measurement/assessment results as appropriate.</small>
                <ul class="detailprogress_collection detail-list" data-prototype="
                    {% filter escape %}
                        {{ include('AppBundle:AnnualReport:snippets/detail-prototype.html.twig', { 'form': form.detailProgress.vars.prototype }) }} 
                    {% endfilter %}
                    ">
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <h3>3. Non-Core Initiatives</h3>
                <small>List and describe unit's activities (as distinct from core services) and initiatives for the academic year.</small>
                <ul class="detailinitiatives_collection detail-list" data-prototype="
                    {% filter escape %}
                        {{ include('AppBundle:AnnualReport:snippets/detail-prototype.html.twig', { 'form': form.detailInitiatives.vars.prototype }) }} 
                    {% endfilter %}
                    ">
                </ul>
            </div>
        </div> 
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <h3>4. Noteworthy Accomplishments</h3>
                <small>Summarize noteworthy accomplishments of the unit's staff for the year that are not already listed above.</small>
                <ul class="detailaccomplishments_collection detail-list" data-prototype="
                    {% filter escape %}
                        {{ include('AppBundle:AnnualReport:snippets/detail-prototype.html.twig', { 'form': form.detailAccomplishments.vars.prototype }) }} 
                    {% endfilter %}
                    ">
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <h3>5. Changes for Next Year</h3>
                <small>Briefly describe any significant changes, opportunities or challenges (either internal or external) that your unit will need to address in the coming year.</small>
                <ul class="detailchanges_collection detail-list" data-prototype="
                    {% filter escape %}
                        {{ include('AppBundle:AnnualReport:snippets/detail-prototype.html.twig', { 'form': form.detailChanges.vars.prototype }) }} 
                    {% endfilter %}
                    ">
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <h3>6. Objectives for Next Year</h3>
                <small>What specific objectives does the unit expect to accomplish during the next academic year? How will you measure your success?</small>
                <ul class="detailobjectives_collection detail-list" data-prototype="
                    {% filter escape %}
                        {{ include('AppBundle:AnnualReport:snippets/detail-prototype.html.twig', { 'form': form.detailObjectives.vars.prototype }) }} 
                    {% endfilter %}
                    ">
                </ul>
            </div>
        </div> 
    </section>
    <hr>
    <section id="annual-report-documents">
        <header>
            <h2>Documents</h2>
        </header>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <ul class="documents_collection document-list" data-prototype="
                    {# The AnnualReportDocument form prototype does NOT include fields for file or subdirectory, 
                       so this snippet was made with those extra fields modeled after the 'name' text field #}
                    {% filter escape %}
                        {{ include('AppBundle:AnnualReport:snippets/documentform.html.twig') }} 
                    {% endfilter %}
                    ">
                </ul>
            </div>
        </div>
    </section>
    <hr>
            {{ form_row(form.year) }}
            {{ form_row(form.unit) }}
            {{ form_row(form._token) }}
            {{ form_row(form.submit) }}
    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}
{% block documentReady %} 
   //JS file located in Resources/public/js/annualreport.js
{% endblock %}