{% extends '::base.html.twig' %}

{% block body -%}
    <h1>AnnualReport</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Unit</th>
                <td>{{ entity.unit.name }}</td>
            </tr>
            <tr>
                <th>Year</th>
                <td>{{ entity.year }}-{{ entity.year + 1 }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('annualreportunit_show', {'id' : entity.unit.id }) }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('annualreport_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
</ul>
{% endblock %}
