{% extends '::base.html.twig' %}
{% block title %}FindText+ Problems{% endblock %}
{% block body -%}
    
    {# Page heading #}
    {% set headingvars = {'headingcontent' : 'Edit FindText+ Problem #' ~ entity.id } %}
    {% include 'snippets/pageHeading.html.twig' with headingvars %}
    
    {# Back button and print button #}
    {% set toolvars = {'basepath' : path('findtext'), 'printpath' : path('findtext_print', { 'id': entity.id }) } %}
    {% include 'snippets/editToolbar.html.twig' with toolvars %}
    
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <table class="table table-responsive table-striped">
            <caption>Submission Info</caption>
            <tbody>
                <tr><th>Received</th><td>{{ entity.created|date('l n/j/y g:i A') }}</td></tr>
                <tr><th>Patron</th><td>{{ entity.patronFirstName }} {{ entity.patronLastName }}</td></tr>
                <tr><th>Email</th><td>{{ entity.patronEmail }}</td></tr>
            </tbody>
        </table>
        {% if is_granted("ROLE_FINDTEXT_DELETE") %}
        {{ form(delete_form) }}
        {% endif %}
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6">
          <div class="panel panel-info">
            <div class="panel-heading">Problem</div>
            <div class="panel-body">
                <p>{{entity.comment}}</p>
            </div>
          </div>
      </div>
    </div>
{% endblock %}
