{% extends '::base.html.twig' %}
{% block title %}FindText+ Problems{% endblock %}
{% block body -%}
    
    {# Page Heading #}
    {% set headingvars = {'headingcontent' : 'FindText+ Problems' } %}
    {% include 'snippets/pageHeading.html.twig' with headingvars %}
    
    <p class="badge">{{ pagination.getPaginationData.totalCount }} Total Problems</p>
    <p>Page {{pagination.getPaginationData.current}} of {{pagination.getPaginationData.pageCount}}</p>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-9">
            <table class="table table-responsive table-striped tablesorter" id="jquerySortable_1">
                <thead>
                    <tr>
                        <th>Submitted</th>
                        <th>Patron Name</th>
                        <th>Patron Email</th>
                        <th>Excerpt</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for entity in pagination %}
                    <tr>
                        <td>{% if entity.created %}{{ entity.created|date('n/j/y g:i A') }}{% endif %}</td>
                        <td>{{ entity.patronFirstName }} {{ entity.patronLastName }}</td>
                        <td>{{ entity.patronEmail }}</td>
                        <td>{{ entity.comment|slice(0, 50) }}...</td>
                        <td>
                            {% if is_granted('ROLE_FINDTEXT_EDIT', entity) %}
                                <a class="badge" href="{{ path('findtext_edit', { 'id': entity.id }) }}" aria-label="edit"><span class="glyphicon glyphicon-pencil"></span></a>
                                <a class="badge" href="{{ path('findtext_print', { 'id': entity.id }) }}" target="_blank" aria-label="print"><span class="glyphicon glyphicon-print"></span></a>
                            {% elseif is_granted('ROLE_FINDTEXT_VIEW', entity) %}
                                <a class="badge" href="{{ path('findtext_show', { 'id': entity.id }) }}" aria-label="show"><span class="glyphicon glyphicon-eye-open"></span></a>
                                <a class="badge" href="{{ path('findtext_print', { 'id': entity.id }) }}" target="_blank" aria-label="print"><span class="glyphicon glyphicon-print"></span></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <p>Page {{pagination.getPaginationData.current}} of {{pagination.getPaginationData.pageCount}}</p>
    {{ include('AppBundle:Pagination:paginator.html.twig') }}
{% endblock %}
{% block documentReady %} 
    //uses jQuery Tablesorter to sort columns for paginated results (http://tablesorter.com/)
    $('#jquerySortable_1').tablesorter({
        headers: {
            3: {
                sorter: false
            },
            4: {
                sorter: false
            }
        }
    });
    
    //refresh the page with the new number of records per page
    $('#paginationMaxResults').on('change', function(){
        var item = $(this).find(":selected").val();
        var url = '{{path('findtext', {'maxItems': '_item'})}}';
        
        window.location.href = url.replace('_item',item );
    });
{% endblock %}