{% extends '::base.html.twig' %}
{% block title %}Library News{% endblock %}
{% block body -%}
    {# Page Heading #}
    {% set headingvars = {'headingcontent' : 'New News' } %}
    {% include 'snippets/pageHeading.html.twig' with headingvars %}
    
    {# Back button #}
    {% set vars = {'basepath' : path('news')} %}
    {% include 'snippets/newToolbar.html.twig' with vars %}

    {{ form_start(form) }}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8">
            {{ form_row(form.title) }}
            {{ form_row(form.teaser) }}
            {{ form_row(form.body) }}
            <div class="form-group" id="thumbnails-list-container">
                <label class="control-label">Cover Images</label>
                <p>Click on the image you wish to use. It will be set as the cover image when you update the form.</p>
                <p>Don't see the image you're looking for? Navigate to the <a href="#new-image-form-container">New Image</a> form below to add one.</p>
                {{ render(controller("AppBundle:News:imageThumbnails")) }}
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="well well-lg">
                <h2 class="text-center"><span class="glyphicon glyphicon-warning-sign text-danger"></span> Alert Settings</h2>
                {{ form_row(form.emergency) }}
                <div id="emergency_level_container">
                {{ form_row(form.emergencyLevel) }}
                </div>
            </div>
            <div class="well well-lg">
                <h2 class="text-center"><span class="glyphicon glyphicon-time text-info"></span> Timed Posting Settings</h2>
                {{ form_row(form.delayedPost) }}
                <div class="row" id="delayed_post_container">
                    {{ form_row(form.displayStart) }}
                    {{ form_row(form.displayEnd) }}
                </div>
                {{ form_row(form.hidden) }}
            </div>
            {{form_row(form.submit)}}
        </div>
    </div>
        
    {{ form_end(form) }}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8" id="new-image-message">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8" id="new-image-form-container">
            <div class=" well well-lg">
            <h2><span class="glyphicon glyphicon-camera text-info"></span> New Image</h2>
            <p>For optimal display on the website, please make cover images <mark>580px wide by 270px tall</mark>. Also, images may not exceed <strong>8MB</strong> in size.</p>
            {{ form(image_form) }}
            </div>
        </div>
    </div>

{% endblock %}
{% block documentReady %}
    var now = new Date();
    
    //datetimepicker plugin 
    $('#appbundle_news_displayStart').datetimepicker({
        format: 'm/d/Y g:i A',
        onShow:function( ct ){
            this.setOptions({
                minDate: now,
                minTime: now,
                maxDate:jQuery('#appbundle_news_displayEnd').val()?jQuery('#appbundle_news_displayEnd').val():false
            })
        },
    });
    $('#appbundle_news_displayEnd').datetimepicker({
        format: 'm/d/Y g:i A',
        onShow:function( ct ){
            this.setOptions({
                minDate:jQuery('#appbundle_news_displayStart').val()?jQuery('#appbundle_news_displayStart').val():false
            })
        },
    });
    
    if( !$('#emergency_level_container > div.form-group').hasClass('has-error') ){
        $('#emergency_level_container').hide();
    }
    
    if( !$('#delayed_post_container div.form-group').hasClass('has-error') ){
        $('#delayed_post_container').hide();
    }
    
    $('#appbundle_news_emergency').on('switchChange.bootstrapSwitch', function(e){
        if( $(this).is(':checked') ){
            $('#emergency_level_container').slideDown();
        } else {
            $('#emergency_level_container').slideUp();
        }
    });
    
    $('#appbundle_news_delayedPost').on('switchChange.bootstrapSwitch', function(e){
        if( $(this).is(':checked') ){
            $('#delayed_post_container').slideDown();
        } else {
            $('#delayed_post_container').slideUp();
        }
    });
    
    //process new image
    $('#image_upload_form').submit(function(e){
    
        var formData = new FormData(this);
        
        ajaxObject = {
            url: '{{ path('medialibrary_upload_ajax') }}',
            type: 'POST',
            contentType: false,
            cache: false,
            processData: false,
            data: formData
        };

        $.ajax(ajaxObject)
            .success(function(data,status,xhr) {
                    console.log( status );
                    $('#new-image-form-container').hide();
                    $('#new-image-message').html('<p class="alert alert-success">The image was successfully uploaded. You can now select it from the thumbnail list above.</p>');
                    
                    $.get("{{ path("news_image_thumbnails") }}", function(data) {
                        $("#thumbnails-list-container").html(data);
                    });
            })
            .fail(function(data,status,xhr) {
                    console.log( status );
                    $('#new-image-message').html('<p class="alert alert-danger">The image was not uploaded. Please ensure you are uploading a .JPG file not greater than 8MB in size.</p>');
            })
            .always(function(data,status,xhr) {
                    console.log( status );
            }); 
            
        return false;
    });
    
    // Uses the jQuery thumbnail scroller (http://manos.malihu.gr/jquery-thumbnail-scroller/)
    $("#thumbnail_image_list_container").mThumbnailScroller({
        axis: "x",
        type: "click-thumb",
        theme: "emulibrary"
    });
{% endblock %}
