{% extends '::base.html.twig' %}
{% block title %}Library News{% endblock %}
{% block body -%}
    {# Page Heading #}
    {% set headingvars = {'headingcontent' : 'Library News: ' ~ entity.title } %}
    {% include 'snippets/pageHeading.html.twig' with headingvars %}
    
    {# Back button, edit and print buttons #}
    {% set toolbarvars = {'basepath' : path('news'), 'editpath' : path('news_edit', { 'id': entity.id }), 'printpath' : path('news_print', { 'id': entity.id }), 'editrole' : 'ROLE_NEWS_EDIT'} %}
    {% include 'snippets/showToolbar.html.twig' with toolbarvars %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">
            {% if entity.image %}
                <p><img src="{{ asset('uploads/news/' ~ entity.image.path) | imagine_filter('web_story') }}" alt="{{ entity.image.path }}" title="{{ entity.image.path }}"/></p>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">
            <span class="lead">{{ entity.body|raw }}</span>
        </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <table class="table table-responsive table-striped">
            <tbody>
                <tr>
                    <th>Created</th>
                    <td>{{ entity.created|date('l n/j/y g:i A') }} by {{ entity.author }}</td>
                </tr>
                <tr>
                    <th>Updated</th>
                    <td>
                        {% if date(entity.updated) != date(entity.created) %}
                            {{ entity.updated|date('l n/j/y g:i A')  }} {% if entity.contentChangedBy is defined %} by {{ entity.contentChangedBy }} {% endif %}
                        {% else %}
                            Never
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
{% endblock %}
