{% extends "emailbase.html.twig" %}

{% block body %}
{% if form.facultyFirstName is defined %}
  Dear {{ form.facultyFirstName }},
{% else %}
  Dear Patron,
{% endif %}

<h1>Thank you for your Audio/Visual Request.</h1>
<p>You will be notified via email by a member of our staff when there is an update to the status of your request.</p>

<table border="0" cellpadding="10" cellspacing="1" width="100%">
  <caption style="background:rgb(108, 122, 137); padding:4px; color:#FFFFFF"><strong>Event Information</strong></caption>
  <tr><td align="right">Event Date</td><td align="right">{{ form.eventDate|date('l n/j/y g:i A') }}</td></tr>
  <tr><td align="right">Pickup Date</td><td align="right">{{ form.pickupDate|date('l n/j/y g:i A') }}</td></tr>
  <tr><td align="right">Return Date</td><td align="right">{{ form.returnDate|date('l n/j/y g:i A') }}</td></tr>
  <tr><td align="right">Special Instruction</td><td align="right">{{ form.specialInstruction }}</td></tr>
</table>
<table border="0" cellpadding="10" cellspacing="1" width="100%">
  <caption style="background:rgb(108, 122, 137); padding:4px; color:#FFFFFF"><strong>Locations/Times</strong></caption>
  <thead>
    <tr><th align="right">Location</th><th align="right">Time</th></tr>
  </thead>
  <tbody>
{% for event in events if event %}
  <tr><td align="right">{{ event.location }}</td><td align="right">{{ event.time|date('g:i A') }}</td></tr>
{% else %}
  <tr><td colspan="2">No locations specified</td></tr>
{% endfor %}
  </tbody>
</table>
<table border="0" cellpadding="10" cellspacing="1" width="100%">
  <caption style="background:rgb(108, 122, 137); padding:4px; color:#FFFFFF"><strong>Equipment</strong></caption>
  <thead>
    <tr><th align="right">Item</th><th align="right">Quantity</th></tr>
  </thead>
  <tbody>
{% for equip in equipment if equip %}
  <tr><td align="right">{{ equip.equipment }}</td><td align="right">{{ equip.quantity }}</td></tr>
{% else %}
  <tr><td colspan="2">No equipment specified</td></tr>
{% endfor %}
  </tbody>
</table>
<table border="0" cellpadding="10" cellspacing="1" width="100%">
  <caption style="background:rgb(108, 122, 137); padding:4px; color:#FFFFFF"><strong>Other Information</strong></caption>
  <tr><td align="right">Faculty Name</td><td align="right">{{ form.facultyFirstName }} {{ form.facultyLastName }}</td></tr>
  <tr><td align="right">Department</td><td align="right">{{ facultySubject }}</td></tr>
  <tr><td align="right">Phone</td><td align="right">{{ form.facultyPhone }}</td></tr>
  <tr><td align="right">Course</td><td align="right">{{ form.course }}</td></tr>
  <tr><td align="right">Attendees</td><td align="right">{{ form.attendees }}</td></tr>
  <tr><td align="right">Student</td><td align="right">{{ form.studentName }} | {{form.studentEnumber}}</td></tr>
</table>
{% endblock %}
