{% extends '::base.html.twig' %}
{% block title %}LDAP Users{% endblock %}
{% block body -%}
      
    {# Page Heading #}
    {% set headingvars = {'headingcontent' : 'Edit LDAP User ' ~ entity.username } %}
    {% include 'snippets/pageHeading.html.twig' with headingvars %}
    
    {# Back button and print button #}
    {% set toolbarvars = {'basepath' : path('user'), 'printpath' : path('user_print', { 'id': entity.id }) } %}
    {% include 'snippets/editToolbar.html.twig' with toolbarvars %}
    
    <blockquote>
        <p>
            Associating an LDAP name with a staff member allows each user the ability to see a dashboard relating to their records when they log in.
            If an LDAP name is not associated with a staff member, he/she will not be able add new records in the system (for example, in the Instruction Session subsystem).
        </p>
        <p>If you do not see the staff member listed that corresponds to the LDAP user, you must create a <a href="{{ path('staff_new') }}">new staff member</a>.</p>
        <p>Deactivating a user will NOT delete the LDAP user nor the associated staff member nor any associated records. This will, however, completely suspend accessibility for that LDAP user.</p> 
    </blockquote>
    <div class="row">
      <div class="col-xs-12 col-md-3">
        <div class="btn-group btn-group-vertical" role="group" aria-label="actions">
          <div class="btn-group" role="group">
            {{ form(edit_form) }}
          </div>
          <!--<div class="btn-group" role="group">
            {# form(delete_form) #}
          </div>-->
        </div>
      </div>
      <div class="col-xs-12 col-md-9">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">{{ entity.username}}'s Form Permissions</h3>
            </div>
            <div class="panel-body">
              {{ form(permission_form) }}
            </div>
          </div>
      </div>
    </div>
              
              
                {#dump(lu)#}
                
                
              
{% endblock %}

{% block documentReady %}
    {{ parent() }}
{% endblock %}

