{% extends '::base.html.twig' %}
{% block title %}Material Purchase Requests{% endblock %}
{% block body -%}
      
    {# Page Heading #}
    {% set headingvars = {'headingcontent' : 'Edit Purchase Request #' ~ entity.id } %}
    {% include 'snippets/pageHeading.html.twig' with headingvars %}
    
    {# Back button and print button #}
    {% set toolbarvars = {'basepath' : path('materialpurchase'), 'printpath' : path('materialpurchase_print', { 'id': entity.id }) } %}
    {% include 'snippets/editToolbar.html.twig' with toolbarvars %}
    
    
    <blockquote>
      <p>Patrons may only be emailed <mark>once</mark> per request in order to prevent potential spamming. If you fill out a response in the "reply" field, the patron will be responded to on update. If a response has already been sent, you will see it below. Additonally, if a patron specified that they did NOT want to be informed of updates, the "reply" field will not show.</p>
    </blockquote>
      
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6">
          <div class="row">
              <div class="col-xs-12">
                  <table class="table table-responsive table-striped">
                    <caption>Request Information</caption>
                    <tbody>
                        <tr>
                            <th>Status</th>
                            <td>{% if entity.status %}{{ entity.status }}{% else %}New Request{% endif %}</td>
                        </tr>
                        <tr>
                            <td>Received</td>
                            <td>{{ entity.created|date('l n/j/y g:i A') }}</td>
                        </tr>
                        <tr>
                            <td>Patron</td>
                            <td>
                                {{entity.patronFirstName}} {{entity.patronLastName}} &lt;{{entity.patronEmail}}&gt <br>
                                Group: {{entity.patronGroup}} <br>
                                Department: {{entity.patronDepartment}}
                            </td>
                        </tr>
                        <tr>
                            <td>Reason to Add</td>
                            <td>{{entity.reasonToAdd}} | {{entity.reasonToAddExplain}}</td>
                        </tr>
                        <tr>
                            <td>Notification Preferences</td>
                            <td>
                                {% if entity.notify == 1 and entity.notifiedDate is empty %}
                                  <span class="alert-success">Patron wants to be notified of status changes.</span>
                                {% elseif entity.notifiedDate is not empty %}
                                    <strong>Responded to patron</strong><br>
                                    <em>{{entity.reply}}</em><br>
                                    <small>-- Sent on {{entity.notifiedDate|date('l n/j/y g:i A')}}</small>
                                {% else %}
                                  <span class="alert-warning">Patron does NOT want to be notified of status changes.</span>            
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
              </div>
          </div>
          <div class="row">
              <div class="col-xs-12">
                  <table class="table table-responsive table-striped">
                    <caption>Item Information</caption>
                    <tbody>
                        <tr>
                            <td>Media Type</td>
                            <td>{{entity.mediaType}}</td>
                        </tr>
                        <tr>
                            <td>Title</td>
                            <td>{{entity.title}}</td>
                        </tr>
                        <tr>
                            <td>Author</td>
                            <td>{{entity.author}}</td>
                        </tr>
                        <tr>
                            <td>ISBN</td>
                            <td>{{entity.isbn}}</td>
                        </tr>
                        <tr>
                            <td>ISSN</td>
                            <td>{{entity.issn}}</td>
                        </tr>
                        <tr>
                            <td>Publisher (Year)</td>
                            <td>{{entity.publisher}} ({{entity.publicationYear}})</td>
                        </tr>
                        <tr>
                            <td>Edition</td>
                            <td>{{entity.edition}}</td>
                        </tr>
                        <tr>
                            <td>Price</td>
                            <td>${{entity.price|number_format(2,'.',',')}}</td>
                        </tr>
                        <tr>
                            <td>Item Source</td>
                            <td>{{entity.source}}</td>
                        </tr>
                        <tr>
                            <td>In Library Catalog?</td>
                            <td>{% if entity.isInCatalog %}Yes{% else %}No{% endif %}</td>
                        </tr>
                    </tbody>
                </table>
              </div>
          </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6">
          <div class="well well-lg">{{ form(edit_form) }} 
            {% if is_granted("ROLE_MATERIALPURCHASE_DELETE") %}
              {{ form(delete_form) }}
            {% endif %}
          </div>
      </div>
    </div>
{% endblock %}
