{% extends '::base.html.twig' %}
{% block title %}Material Purchase Requests{% endblock %}
{% block body -%}
    <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="{{ path('materialpurchase') }}"><span class="glyphicon glyphicon-th-list"></span> Material Requests</a></li>
        <li role="presentation"><a href="{{ path('mediatype') }}"><span class="glyphicon glyphicon-blackboard"></span> Media Types</a></li>
        <li role="presentation"><a href="{{ path('materialpurchaserequestreason') }}"><span class="glyphicon glyphicon-blackboard"></span> Purchase Reasons</a></li>
        <li role="presentation"><a href="{{ path('materialpurchasestatus') }}"><span class="glyphicon glyphicon-check"></span> Request Statuses</a></li>
    </ul>
    
    {# Page Heading #}
    {% set headingvars = {'headingcontent' : 'Material Purchase Requests' } %}
    {% include 'snippets/pageHeading.html.twig' with headingvars %}
    
    <p class="badge">{{ pagination.getPaginationData.totalCount }} Total Requests</p>
    <p>Page {{pagination.getPaginationData.current}} of {{pagination.getPaginationData.pageCount}}</p>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-9">
            <table class="table table-responsive table-striped tablesorter" id="jquerySortable_1">
                <thead>
                    <tr>
                        <th>Submitted</th>
                        <th>Patron</th>
                        <th>Patron Notified</th>
                        <th>Title</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for entity in pagination %}
                    <tr>
                        <td>{% if entity.created %}{{ entity.created|date('n/j/y') }}{% endif %}</td>
                        <td>{{ entity.patronFirstName }} {{ entity.patronLastName }}</td>
                        <td>{% if entity.notifiedDate %}<span class="glyphicon glyphicon-ok-sign text-success"></span>{% else %}<span class="glyphicon glyphicon-remove-sign text-danger"></span> {% endif %}</td>
                        <td>{{ entity.title }}</td>
                        <td>
                            {% if is_granted('ROLE_MATERIALPURCHASE_EDIT', entity) %}
                                <a class="badge" href="{{ path('materialpurchase_edit', { 'id': entity.id }) }}" aria-label="edit"><span class="glyphicon glyphicon-pencil"></span></a>
                                <a class="badge" href="{{ path('materialpurchase_print', { 'id': entity.id }) }}" target="_blank" aria-label="print"><span class="glyphicon glyphicon-print"></span></a>
                            {% elseif is_granted('ROLE_MATERIALPURCHASE_VIEW', entity) %}
                                <a class="badge" href="{{ path('materialpurchase_show', { 'id': entity.id }) }}" aria-label="show"><span class="glyphicon glyphicon-eye-open"></span></a>
                                <a class="badge" href="{{ path('materialpurchase_print', { 'id': entity.id }) }}" target="_blank" aria-label="print"><span class="glyphicon glyphicon-print"></span></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <p>Page {{pagination.getPaginationData.current}} of {{pagination.getPaginationData.pageCount}}</p>
    {{ include('AppBundle:Pagination:paginator.html.twig') }}
{% endblock %}
{% block documentReady %} 
    //uses jQuery Tablesorter to sort columns for paginated results (http://tablesorter.com/)
    $('#jquerySortable_1').tablesorter({
        headers: {
            4: {
                sorter: false
            },
        }
    });
    
    //refresh the page with the new number of records per page
    $('#paginationMaxResults').on('change', function(){
        var item = $(this).find(":selected").val();
        var url = '{{path('materialpurchase', {'maxItems': '_item'})}}';
        
        window.location.href = url.replace('_item',item );
    });
{% endblock %}
