{% extends '::base.html.twig' %}
{% block title %}Material Purchase Requests{% endblock %}
{% block body -%}
    <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="{{ path('materialpurchase') }}"><span class="glyphicon glyphicon-th-list"></span> Material Requests</a></li>
        <li role="presentation"><a href="{{ path('materialpurchaserequestreason') }}"><span class="glyphicon glyphicon-blackboard"></span> Purchase Reasons</a></li>
        <li role="presentation"><a href="{{ path('materialpurchasestatus') }}"><span class="glyphicon glyphicon-check"></span> Request Statuses</a></li>
    </ul>
    <h1 class="page-header">Material Purchase Requests</h1>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <table class="table table-responsive table-striped records_list">
                <thead>
                    <tr>
                        <th>Submitted</th>
                        <th>Patron</th>
                        <th>Patron Notified</th>
                        <th>Title</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{% if entity.created %}{{ entity.created|date('n/j/y') }}{% endif %}</td>
                        <td>{{ entity.patronFirstName }} {{ entity.patronLastName }}</td>
                        <td>{% if entity.notifiedDate %}<span class="glyphicon glyphicon-ok-sign text-success"></span>{% else %}<span class="glyphicon glyphicon-remove-sign text-danger"></span> {% endif %}</td>
                        <td>{{ entity.title }}</td>
                        <td>
                            {% if is_granted('ROLE_MATERIALPURCHASE_EDIT', entity) %}
                                <a class="badge" href="{{ path('materialpurchase_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
                            {% elseif is_granted('ROLE_MATERIALPURCHASE_VIEW', entity) %}
                                <a class="badge" href="{{ path('materialpurchase_show', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-eye-open"></span> Show</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endblock %}
