{% extends '::base.html.twig' %}

{% block body -%}
    <h1>MaterialPurchaseRequest list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Patronfirstname</th>
                <th>Patronlastname</th>
                <th>Patronemail</th>
                <th>Notify</th>
                <th>Isnotified</th>
                <th>Notifieddate</th>
                <th>Title</th>
                <th>Isbn</th>
                <th>Issn</th>
                <th>Author</th>
                <th>Publisher</th>
                <th>Publicationyear</th>
                <th>Edition</th>
                <th>Price</th>
                <th>Source</th>
                <th>Isincatalog</th>
                <th>Reasontoaddexplain</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Contentchangedby</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('materialpurchase_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.patronFirstName }}</td>
                <td>{{ entity.patronLastName }}</td>
                <td>{{ entity.patronEmail }}</td>
                <td>{{ entity.notify }}</td>
                <td>{{ entity.isNotified }}</td>
                <td>{% if entity.notifiedDate %}{{ entity.notifiedDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.title }}</td>
                <td>{{ entity.isbn }}</td>
                <td>{{ entity.issn }}</td>
                <td>{{ entity.author }}</td>
                <td>{{ entity.publisher }}</td>
                <td>{{ entity.publicationYear }}</td>
                <td>{{ entity.edition }}</td>
                <td>{{ entity.price }}</td>
                <td>{{ entity.source }}</td>
                <td>{{ entity.isInCatalog }}</td>
                <td>{{ entity.reasonToAddExplain }}</td>
                <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.updated %}{{ entity.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.contentChangedBy }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('materialpurchase_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('materialpurchase_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('materialpurchase_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
