{% extends '::base.html.twig' %}
{% block title %}Instruction Session Survey #{{ entity.id }}{% endblock %}
{% block body -%}
    
    {# Page Heading #}
    {% set headingvars = {'headingcontent' : 'Instruction Session Survey #' ~ entity.id } %}
    {% include 'snippets/pageHeading.html.twig' with headingvars %}
    
    {# Back button and print button #}
    {% set toolbarvars = {'basepath' : path('instructionsurvey_list', {'instruction_id' : entity.instruction.id }), 'printpath' : path('instructionsurvey_print', { 'id': entity.id }) } %}
    {% include 'snippets/editToolbar.html.twig' with toolbarvars %}
    
    {% set averageRating = (entity.questionLearnedSomething + entity.questionSkillsImproved + entity.questionRelevantSession + entity.questionKnowledgableSpeaker + entity.questionClearlyExplained)/5 %}
    
    <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-6">
            <table class="table">
                <caption>Instruction Session Information</caption>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Course</th>
                        <th>Instructor</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ entity.instruction.instructionDate|date('n/j/y') }}</td>
                        <td>{{ entity.instruction.startTime|date('g:i A') }} - {{ entity.instruction.endTime|date('g:i A') }}</td>
                        <td>{{ entity.instruction.course }}</td>
                        <td>{{ entity.instruction.instructor }}
                            {% if entity.instruction.client is defined %}
                                {{ entity.instruction.client }}
                            {% else %}
                                {{ entity.instruction.instructor }}
                            {% endif %}
                        </td>
                        <td>
                            {% if entity.instruction.client is defined %}
                            <a class="badge" href="{{ path('individualinstruction_edit', { 'id': entity.instruction.id }) }}" aria-label="edit" title="Edit Record"><span class="glyphicon glyphicon-pencil"></span></a>
                            {% else %}
                            <a class="badge" href="{{ path('groupinstruction_edit', { 'id': entity.instruction.id }) }}" aria-label="edit" title="Edit Record"><span class="glyphicon glyphicon-pencil"></span></a>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <section id="survey-results">
        <header>
            <h2>Survey Results</h2>
            <p class="lead">This survey was completed
            {% if entity.studentFirstName != '' or entity.studentLastName != '' or entity.studentEmail != '' %}
                 by 
                {{ entity.studentFirstName }} {{ entity.studentLastName }}
                {% if entity.studentEmail != '' %}
                    &lt;{{ entity.studentEmail }}&gt;
                {% endif %}
            {% else %}
                anonymously
            {% endif %}
                on {{ entity.created|date('n/j/y') }} at {{ entity.created|date('g:i A') }}.
            </p>
        </header>
        <div class="table-responsive">
            <table class="table">
                <caption>My Performance Rating</caption>
                <thead>
                    <tr>
                        <th>I Learned Something</th>
                        <th class="active">My Skills Improved</th>
                        <th>Session was Relevant</th>
                        <th class="active">Knowledgable Speaker</th>
                        <th>Content Clearly Explained</th>
                        <th class="warning">Average Score</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><span class="lead">{{ entity.questionLearnedSomething }}</span> / 5</td>
                        <td class="active"><span class="lead">{{ entity.questionSkillsImproved }}</span> / 5</td>
                        <td><span class="lead">{{ entity.questionRelevantSession }}</span> / 5</td>
                        <td class="active"><span class="lead">{{ entity.questionKnowledgableSpeaker }}</span> / 5</td>
                        <td><span class="lead">{{ entity.questionClearlyExplained }}</span> / 5</td>
                        <td class="warning"><span class="lead">{{ averageRating }}</span> / 5</td>
                    </tr>
                    <tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-6">
                <ul class="list-group">
                    <li class="list-group-item">
                        <p>This was 
                            {% if entity.questionIsFirstSession == 0 %}
                                NOT
                            {% endif %}
                            the student's first instruction session at EMU.</p>
                    </li>
                    <li class="list-group-item">
                        <p>The student did 
                            {% if entity.questionDidUseEsearch == 0 %}
                                NOT use Esearch during this session.
                            {% else %}
                                use Esearch during this session and
                                {% if entity.questionEsearchRelevant == 0 %}
                                    did not specify if
                                {% elseif entity.questionEsearchRelevant == 1 %}
                                    strongly disagreed that
                                {% elseif entity.questionEsearchRelevant == 2 %}
                                    disagreed that
                                {% elseif entity.questionEsearchRelevant == 3 %}
                                    did not feel strongly either way that 
                                {% elseif entity.questionEsearchRelevant == 4 %}
                                    agreed that 
                                {% elseif entity.questionEsearchRelevant == 5 %}
                                    strongly agreed that 
                                {% endif %}
                                the service produced relevant resources.
                            {% endif %} 
                            </p> 
                    </li>
                    <li class="list-group-item">
                        <p><strong>Most important thing learned:</strong> {{ entity.questionMostImportantThingLearned }}</p>
                    </li>
                    <li class="list-group-item">
                        <p><strong>Other questions:</strong> {{ entity.questionOtherQuestions }}</p>
                    </li>
                    <li class="list-group-item">
                        <p><strong>Comments and feedback:</strong> {{ entity.otherSuggestions }}</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <div class="row">
        <div class="col-xs-12">
            {{ form(delete_form) }}
        </div>
    </div>
{% endblock %}
