{% extends '::base.html.twig' %}
{% block title %}Extended Privilege Status{% endblock %}
{% block body -%}
    <ul class="nav nav-pills">
        <li role="presentation"><a href="{{ path('extendedprivilege') }}"><span class="glyphicon glyphicon-th-list"></span> Extended Privilege Requests</a></li>
        <li role="presentation" class="active"><a href="{{ path('extendedprivilege_status') }}"><span class="glyphicon glyphicon-check"></span> Statuses</a></li>
    </ul>
    
    {# Page Heading #}
    {% set headingvars = {'headingcontent' : 'Extended Privilege Statuses', 'newbutton' : true, 'newpath' : path('extendedprivilege_status_new'), 'newpathlabel' : 'New Status' } %}
    {% include 'snippets/pageHeading.html.twig' with headingvars %}
    
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-responsive table-striped records_list">
                <thead>
                    <tr>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity.name }}</td>     
                        <td>
                            {% if is_granted('ROLE_EXTENDEDPRIVILEGES_EDIT', entity) %}
                                <a class="badge" href="{{ path('extendedprivilege_status_edit', { 'id': entity.id }) }}" aria-label="edit"><span class="glyphicon glyphicon-pencil"></span></a>
                                <a class="badge" href="{{ path('extendedprivilege_status_print', { 'id': entity.id }) }}" target="_blank" aria-label="print"><span class="glyphicon glyphicon-print"></span></a>
                            {% elseif is_granted('ROLE_EXTENDEDPRIVILEGES_VIEW', entity) %}
                                <a class="badge" href="{{ path('extendedprivilege_status_show', { 'id': entity.id }) }}" aria-label="show"><span class="glyphicon glyphicon-eye-open"></span></a>
                                <a class="badge" href="{{ path('extendedprivilege_status_print', { 'id': entity.id }) }}" target="_blank" aria-label="print"><span class="glyphicon glyphicon-print"></span></a>
                            {% endif %}
                        </td> 
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endblock %}
